In [7]:
from Assignment.handsOn1_1 import addition

ModuleNotFoundError: No module named 'Assignment'

In [ ]:
def floor_division(a,b):
    return a//b;

name = input("Please enter your name: ")
print(f"(Hi {name}! Welcome to intellipaat Calculator)")
print("1. Addition", "2. Subtraction","3. Multiplication", "4. Division", "5. Floor Division")
operation = input("Please select the operator you want to perform: ")
a = input("Enter 1st number")
b = input("Enter 2nd number")
if operation == '1':
    addition(a,b)

In [ ]:
pwd

# 6. Armstrong Number

In [28]:
number = 1634
original_num = number
length = len(str(number))
a=lambda x,y:x**y
temp = 0
for i in range(0,length):
    x = number%10     # 1
    number = int(number /10)
    temp += a(x,length)   # 1^3 + 2*2*2 + 3*3*3 = 1+8+27 = 36
    
if temp == original_num:
    print("Given number is armstrong number")
else :
    print("Given number is not armstrong number")

Given number is armstrong number

In [19]:
a=lambda x,y:x**y
a(1,4)

1

# 7. Calculator

In [30]:
from handsOn1_1 import *

def floor_division(a,b):
    return a//b;

name = input("Please enter your name: ")
print(f"(Hi {name}! Welcome to intellipaat Calculator)")
print("1. Addition", "2. Subtraction","3. Multiplication", "4. Division", "5. Floor Division")
operation = input("Please select the operator you want to perform: ")
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
if operation == '1':
    print(addition(a,b));
elif operation == '2':
    print(subtraction(a,b));
elif operation == '3':
    print(multiplication(a,b));
elif operation == '4':
    print(division(a,b));
elif operation == '5':
    print(floor_division(a,b));
else:
    print("Enter a valid number")

Please enter your name: s
(Hi s! Welcome to intellipaat Calculator)
1. Addition 2. Subtraction 3. Multiplication 4. Division 5. Floor Division
Please select the operator you want to perform: 1
Enter 1st number1
Enter 2nd number1
2

# 8. Fibonacci Series

In [ ]:
count = int(input("Enter number of terms"))
print(f'You have entered {count}.')
if count == 0 or count == 1:
    print(count)
else :
    a=0
    b=1
    for i in range(0,count):
        if (i<=1):
            c= i
        else: 
            c=a+b;
            a=b
            b=c
        print(c)

# 9. Nested Dictionary

In [2]:
dic1= dict()

In [7]:
dic1['a'] = [1]
dic1['b'] = [1,2]
dic1['c'] = [1,2,3]
dic1['d'] = [1,2,3,4]
dic1['e'] = [1,2,3,4,5]
print(dic1)

{'a': [1], 'b': [1, 2], 'c': [1, 2, 3], 'd': [1, 2, 3, 4], 'e': [1, 2, 3, 4, 5]}

# 10. Sets

In [10]:
a = {1,'','a',2,3}
b = {1,'','c',4,3,'i'}
print('Union: ',a.union(b))
print('Intersection : ',a.intersection(b))

Union:  {'', 1, 2, 3, 4, 'c', 'a', 'i'}
Intersection :  {'', 1, 3}

# 11. Nested tuple

### Create a nested tuple from the dictionary, with each item in the tuple as a key value pair from the dictionary.

In [ ]:
dic1

In [52]:
tup3 = tuple()
for each_ele in dic1.items(): 
    #tuple("("+str(each_ele[0])+","+str(each_ele[1])+")")
    #tup1 = '('+each_ele[0]+')'
    tup1 = each_ele[0]
    tup2 = each_ele[1]
    tup3 += tup1,tup2
    print(tup3)

('a', [1])
('a', [1], 'b', [1, 2])
('a', [1], 'b', [1, 2], 'c', [1, 2, 3])
('a', [1], 'b', [1, 2], 'c', [1, 2, 3], 'd', [1, 2, 3, 4])
('a', [1], 'b', [1, 2], 'c', [1, 2, 3], 'd', [1, 2, 3, 4], 'e', [1, 2, 3, 4, 5])

# 12. List

In [96]:
li = list()
for i in range(1,51) :
    li.append(i)
print(li)
print()
print("Length :",len(li))
print()
li.reverse()
print("Reversed List:",li)
print()
li.sort()
print("Sorted List:",li)
li.sort(reverse=True)
print("Sorted List:",li)
print("44th element",li[44])
li[44]= 100
print(" after updating 44th element",li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

Length : 50

Reversed List: [50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Sorted List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Sorted List: [50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
44th element 6
 after updating 44th element [50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 100, 5, 4, 3, 2, 1]

In [122]:
# list containing the square of each element.
i=0
for each_ele in li:
    temp = each_ele * each_ele
    li[i] = temp
    i+=1
print(li)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, 14641, 20736, 28561, 38416, 50625, 65536, 83521, 104976, 130321, 160000, 194481, 234256, 279841, 331776, 390625, 456976, 531441, 614656, 707281, 810000, 923521, 1048576, 1185921, 1336336, 1500625, 1679616, 1874161, 2085136, 2313441, 2560000, 2825761, 3111696, 3418801, 3748096, 4100625, 4477456, 4879681, 5308416, 5764801, 6250000]:

# 13. Nested dictionary

### Create a nested dictionary and perform the following operations.
1. Return a list with the key value pairs from the dictionary.
2. Return a list with just the keys from the dictionary.
3. Remove the first and last key value from the dictionary.
4. Update the last key value pair in the dictionary after removing in the 3rd step.

# 14. Strings

In [112]:
A = "Python Programming Language"
B = 'Best in the World'
print(A.find('gram'))
print(B.find('World'))
print(A.upper())
print(B.upper())
print(A,B)

10
12
PYTHON PROGRAMMING LANGUAGE
BEST IN THE WORLD
Python Programming Language Best in the World

## 15. Create a list with n numbers, and using negative indexing return the list starting from the 5th index to the n-2th index.

In [136]:
li = list()
for i in range(1,51) :
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [139]:
print(li[5:len(li)-2],  end =" ")

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48]

# 16. Using range(), create a list with numbers ranging from 5-100, and the number of elements should be exactly 19.

In [146]:
li = list()
for i in range(5,100) :
    if i % 5==0:
        li.append(i)
print(len(li))

19

In [1]:
# Factorial

def fact(x):
    if(x==1):
        return 1
    else:
        return x * fact(x-1)

In [2]:
fact(5)

120

In [4]:
# simple interest si=prt/100

principal=int(input("Enter principal"))
rate=int(input("Enter rate"))
interest=int(input("Enter interest"))

SI=interest*rate*principal/100
print(SI)

Enter principal10
Enter rate2
Enter interest3
0.6

In [13]:
# prime number

x=14
flag=1
for y in range(2,int(x/2)+1):
    if(x%y==0):
        flag=0
    else:
        flag=1
        
if(flag==0):
    print('Not')
else:
    print('Prime')

Not

In [17]:
# Fibonacci

a=0
b=1
x=int(input())
print(a,b,end=' ')
for i in range(2,x):
    c=a+b
    a=b
    b=c
    print(c,end=' ')

8
0 1 1 2 3 5 8 13

In [21]:
# Palindrome - 434

s=input('Enter')
z=s[::-1]
if(s==z):
    print('palindrome')
else:
    print('not palindrome')

Entermalayal\
not palindrome

In [1]:
import numpy as np
import pandas as pd

In [2]:
death=pd.read_csv('death .csv',na_values='**')

In [3]:
death.head()

,County,FIPS,Met Objective of 45.5? (1),Age-Adjusted Death Rate,Lower 95% Confidence Interval for Death Rate,Upper 95% Confidence Interval for Death Rate,Average Deaths per Year,Recent Trend (2),Recent 5-Year Trend (2) in Death Rates,Lower 95% Confidence Interval for Trend,Upper 95% Confidence Interval for Trend
0,United States,0,No,46,45.9,46.1,"157,376",falling,-2.4,-2.6,-2.2
1,"Perry County, Kentucky",21193,No,125.6,108.9,144.2,43,stable,-0.6,-2.7,1.6
2,"Powell County, Kentucky",21197,No,125.3,100.2,155.1,18,stable,1.7,0,3.4
3,"North Slope Borough, Alaska",2185,No,124.9,73,194.7,5,NaN,NaN,NaN,NaN
4,"Owsley County, Kentucky",21189,No,118.5,83.1,165.5,8,stable,2.2,-0.4,4.8

In [4]:
cancer=pd.read_excel('cancer_data_notes.xlsx',na_values='NaN')

In [5]:
cancer.head()

  Created by statecancerprofiles.cancer.gov on 05/09/2017 5:34 pm.
0  Data for the United States does not include da...
1  State Cancer Registries may provide more curre...
2    Incidence rates (cases per 100,000 populatio...
3  à Incidence data come from different sources. ...
4   ¦ Data not available because of state legisla...

In [6]:
incd=pd.read_csv('incd.csv',na_values='*')

In [7]:
incd.head()

,County,FIPS,"Age-Adjusted Incidence Rate - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,"US (SEER+NPCR)(1,10)",0,62.4,62.3,62.6,214614,falling,-2.5,-3,-2
1,"Autauga County, Alabama(6,10)",1001,74.9,65.1,85.7,43,stable,0.5,-14.9,18.6
2,"Baldwin County, Alabama(6,10)",1003,66.9,62.4,71.7,170,stable,3,-10.2,18.3
3,"Barbour County, Alabama(6,10)",1005,74.6,61.8,89.4,25,stable,-6.4,-18.3,7.3
4,"Bibb County, Alabama(6,10)",1007,86.4,71,104.2,23,stable,-4.5,-31.4,32.9

In [8]:
incd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3141 entries, 0 to 3140
Data columns (total 10 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   County                                           3141 non-null   object
 1    FIPS                                            3141 non-null   int64
 2   Age-Adjusted Incidence Rate - cases per 100,000  3141 non-null   object
 3   Lower 95% Confidence Interval                    2928 non-null   object
 4   Upper 95% Confidence Interval                    3141 non-null   object
 5   Average Annual Count                             3141 non-null   object
 6   Recent Trend                                     2881 non-null   object
 7   Recent 5-Year Trend in Incidence Rates           2881 non-null   object
 8   Lower 95% Confidence Interval.1                  2881 non-null   object
 9   Upper 95% Confidence Interval.1                  2881 non-null   object
dtypes: int64(1), object(9)
memory usage: 245.5+ KB

In [9]:
incd.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3141 entries, 0 to 3140
Data columns (total 10 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   County                                           3141 non-null   object
 1    FIPS                                            3141 non-null   int64
 2   Age-Adjusted Incidence Rate - cases per 100,000  3141 non-null   object
 3   Lower 95% Confidence Interval                    2928 non-null   object
 4   Upper 95% Confidence Interval                    3141 non-null   object
 5   Average Annual Count                             3141 non-null   object
 6   Recent Trend                                     2881 non-null   object
 7   Recent 5-Year Trend in Incidence Rates           2881 non-null   object
 8   Lower 95% Confidence Interval.1                  2881 non-null   object
 9   Upper 95% Confidence Interval.1                  2881 non-null   object
dtypes: int64(1), object(9)
memory usage: 245.5+ KB

C:\Users\LPT-3036\AppData\Local\Temp\ipykernel_21212\4076810085.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  incd.info(null_counts=True)

In [10]:
incd.shape

(3141, 10)

In [11]:
incd.count()

County                                             3141
 FIPS                                              3141
Age-Adjusted Incidence Rate - cases per 100,000    3141
Lower 95% Confidence Interval                      2928
Upper 95% Confidence Interval                      3141
Average Annual Count                               3141
Recent Trend                                       2881
Recent 5-Year Trend in Incidence Rates             2881
Lower 95% Confidence Interval.1                    2881
Upper 95% Confidence Interval.1                    2881
dtype: int64

In [12]:
incd.describe()

               FIPS
count   3141.000000
mean   30392.281757
std    15158.200839
min        0.000000
25%    18179.000000
50%    29177.000000
75%    45081.000000
max    56045.000000

In [13]:
cancer.shape

(32, 1)

In [14]:
cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 1 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Created by statecancerprofiles.cancer.gov on 05/09/2017 5:34 pm.  29 non-null     object
dtypes: object(1)
memory usage: 384.0+ bytes

In [15]:
death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3141 entries, 0 to 3140
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   County                                        3141 non-null   object
 1   FIPS                                          3141 non-null   int64
 2   Met Objective of 45.5? (1)                    3141 non-null   object
 3   Age-Adjusted Death Rate                       3141 non-null   object
 4   Lower 95% Confidence Interval for Death Rate  3141 non-null   object
 5   Upper 95% Confidence Interval for Death Rate  3141 non-null   object
 6   Average Deaths per Year                       3141 non-null   object
 7   Recent Trend (2)                              2721 non-null   object
 8   Recent 5-Year Trend (2) in Death Rates        2721 non-null   object
 9   Lower 95% Confidence Interval for Trend       2721 non-null   object
 10  Upper 95% Confidence Interval for Trend       2721 non-null   object
dtypes: int64(1), object(10)
memory usage: 270.1+ KB

In [16]:
death.count()

County                                          3141
FIPS                                            3141
Met Objective of 45.5? (1)                      3141
Age-Adjusted Death Rate                         3141
Lower 95% Confidence Interval for Death Rate    3141
Upper 95% Confidence Interval for Death Rate    3141
Average Deaths per Year                         3141
Recent Trend (2)                                2721
Recent 5-Year Trend (2) in Death Rates          2721
Lower 95% Confidence Interval for Trend         2721
Upper 95% Confidence Interval for Trend         2721
dtype: int64

In [17]:
death.shape

(3141, 11)

In [18]:
death.tail()

,County,FIPS,Met Objective of 45.5? (1),Age-Adjusted Death Rate,Lower 95% Confidence Interval for Death Rate,Upper 95% Confidence Interval for Death Rate,Average Deaths per Year,Recent Trend (2),Recent 5-Year Trend (2) in Death Rates,Lower 95% Confidence Interval for Trend,Upper 95% Confidence Interval for Trend
3136,"Yakutat City and Borough, Alaska<sup>3</sup>",2282,*,*,*,*,*,NaN,NaN,NaN,NaN
3137,"Yukon-Koyukuk Census Area, Alaska",2290,*,*,*,*,*,NaN,NaN,NaN,NaN
3138,"Zapata County, Texas",48505,*,*,*,*,*,*,*,*,*
3139,"Zavala County, Texas",48507,*,*,*,*,*,NaN,NaN,NaN,NaN
3140,"Ziebach County, South Dakota",46137,*,*,*,*,*,NaN,NaN,NaN,NaN

In [19]:
death.columns

Index(['County', 'FIPS', 'Met Objective of 45.5? (1)',
       'Age-Adjusted Death Rate',
       'Lower 95% Confidence Interval for Death Rate',
       'Upper 95% Confidence Interval for Death Rate',
       'Average Deaths per Year', 'Recent Trend (2)',
       'Recent 5-Year Trend (2) in Death Rates',
       'Lower 95% Confidence Interval for Trend',
       'Upper 95% Confidence Interval for Trend'],
      dtype='object')

In [20]:
cancer.columns

Index(['Created by statecancerprofiles.cancer.gov on 05/09/2017 5:34 pm.'], dtype='object')

In [21]:
cancer.duplicated

<bound method DataFrame.duplicated of    Created by statecancerprofiles.cancer.gov on 05/09/2017 5:34 pm.
0   Data for the United States does not include da...
1   State Cancer Registries may provide more curre...
2     Incidence rates (cases per 100,000 populatio...
3   à Incidence data come from different sources. ...
4    ¦ Data not available because of state legisla...
5   # Data do not include cases diagnosed in other...
6   * Data has been suppressed to ensure confident...
7                   ¦¦ Data not available for Nevada.
8   1 Source: CDC's National Program of Cancer Reg...
9   6 Source: State Cancer Registry and the CDC's ...
10           7 Source: SEER November 2015 submission.
11  8 Source: Incidence data provided by the SEER ...
12  9 Source: Incidence data provided by the SEER ...
13  10 Source: Incidence data provided by the Nati...
14  Please note that the data comes from different...
15  Interpret Rankings provides insight into inter...
16  Data not available [http://statecancerprofiles...
17                                                NaN
18                                                NaN
19                                                NaN
20                                             Notes:
21  Created by statecancerprofiles.cancer.gov on 0...
22  State Cancer Registries may provide more curre...
23                                              Trend
24     Rising when 95% confidence interval of aver...
25     Stable when 95% confidence interval of aver...
26     Falling when 95% confidence interval of ave...
27  * Data has been suppressed to ensure confident...
28  ** Data are too sparse to provide stable estim...
29  (1) Healthy People 2020 Objectives provided by...
30  (2) The Average Annual Percent Change (AAPC) i...
31  Source: Death data provided by the National Vi...              >

In [22]:
cancer.isnull()

    Created by statecancerprofiles.cancer.gov on 05/09/2017 5:34 pm.
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
5                                               False
6                                               False
7                                               False
8                                               False
9                                               False
10                                              False
11                                              False
12                                              False
13                                              False
14                                              False
15                                              False
16                                              False
17                                               True
18                                               True
19                                               True
20                                              False
21                                              False
22                                              False
23                                              False
24                                              False
25                                              False
26                                              False
27                                              False
28                                              False
29                                              False
30                                              False
31                                              False

In [23]:
cancer.dropna(inplace=True)

In [24]:
cancer.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [25]:
cancer[cancer.duplicated()]

Empty DataFrame
Columns: [Created by statecancerprofiles.cancer.gov on 05/09/2017 5:34 pm.]
Index: []

In [26]:
cancer.duplicated().sum()

0

In [27]:
cancer.sample(20)

   Created by statecancerprofiles.cancer.gov on 05/09/2017 5:34 pm.
14  Please note that the data comes from different...
15  Interpret Rankings provides insight into inter...
11  8 Source: Incidence data provided by the SEER ...
16  Data not available [http://statecancerprofiles...
0   Data for the United States does not include da...
20                                             Notes:
27  * Data has been suppressed to ensure confident...
24     Rising when 95% confidence interval of aver...
6   * Data has been suppressed to ensure confident...
8   1 Source: CDC's National Program of Cancer Reg...
30  (2) The Average Annual Percent Change (AAPC) i...
4    ¦ Data not available because of state legisla...
1   State Cancer Registries may provide more curre...
2     Incidence rates (cases per 100,000 populatio...
10           7 Source: SEER November 2015 submission.
25     Stable when 95% confidence interval of aver...
28  ** Data are too sparse to provide stable estim...
29  (1) Healthy People 2020 Objectives provided by...
12  9 Source: Incidence data provided by the SEER ...
3   à Incidence data come from different sources. ...

In [28]:
cancer.duplicated().sum()

0

In [29]:
death.isnull().sum()

County                                            0
FIPS                                              0
Met Objective of 45.5? (1)                        0
Age-Adjusted Death Rate                           0
Lower 95% Confidence Interval for Death Rate      0
Upper 95% Confidence Interval for Death Rate      0
Average Deaths per Year                           0
Recent Trend (2)                                420
Recent 5-Year Trend (2) in Death Rates          420
Lower 95% Confidence Interval for Trend         420
Upper 95% Confidence Interval for Trend         420
dtype: int64

In [30]:
death.dropna(inplace=True)

In [31]:
death.isnull().sum()

County                                          0
FIPS                                            0
Met Objective of 45.5? (1)                      0
Age-Adjusted Death Rate                         0
Lower 95% Confidence Interval for Death Rate    0
Upper 95% Confidence Interval for Death Rate    0
Average Deaths per Year                         0
Recent Trend (2)                                0
Recent 5-Year Trend (2) in Death Rates          0
Lower 95% Confidence Interval for Trend         0
Upper 95% Confidence Interval for Trend         0
dtype: int64

In [32]:
death.shape

(2721, 11)

In [33]:
incd.isnull().sum()

County                                               0
 FIPS                                                0
Age-Adjusted Incidence Rate - cases per 100,000      0
Lower 95% Confidence Interval                      213
Upper 95% Confidence Interval                        0
Average Annual Count                                 0
Recent Trend                                       260
Recent 5-Year Trend in Incidence Rates             260
Lower 95% Confidence Interval.1                    260
Upper 95% Confidence Interval.1                    260
dtype: int64

In [34]:
incd.dropna(inplace=True)

In [35]:
incd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2881 entries, 0 to 3140
Data columns (total 10 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   County                                           2881 non-null   object
 1    FIPS                                            2881 non-null   int64
 2   Age-Adjusted Incidence Rate - cases per 100,000  2881 non-null   object
 3   Lower 95% Confidence Interval                    2881 non-null   object
 4   Upper 95% Confidence Interval                    2881 non-null   object
 5   Average Annual Count                             2881 non-null   object
 6   Recent Trend                                     2881 non-null   object
 7   Recent 5-Year Trend in Incidence Rates           2881 non-null   object
 8   Lower 95% Confidence Interval.1                  2881 non-null   object
 9   Upper 95% Confidence Interval.1                  2881 non-null   object
dtypes: int64(1), object(9)
memory usage: 247.6+ KB

In [36]:
incd.nunique()

County                                             2881
 FIPS                                              2881
Age-Adjusted Incidence Rate - cases per 100,000     799
Lower 95% Confidence Interval                       683
Upper 95% Confidence Interval                       859
Average Annual Count                                361
Recent Trend                                          5
Recent 5-Year Trend in Incidence Rates              400
Lower 95% Confidence Interval.1                     516
Upper 95% Confidence Interval.1                     733
dtype: int64

In [37]:
incd.columns

Index(['County', ' FIPS', 'Age-Adjusted Incidence Rate - cases per 100,000',
       'Lower 95% Confidence Interval', 'Upper 95% Confidence Interval',
       'Average Annual Count', 'Recent Trend',
       'Recent 5-Year Trend in Incidence Rates',
       'Lower 95% Confidence Interval.1', 'Upper 95% Confidence Interval.1'],
      dtype='object')

In [38]:
incd['County'].unique()

array(['US (SEER+NPCR)(1,10)', 'Autauga County, Alabama(6,10)',
       'Baldwin County, Alabama(6,10)', ...,
       'Uinta County, Wyoming(6,10)', 'Washakie County, Wyoming(6,10)',
       'Weston County, Wyoming(6,10)'], dtype=object)

In [39]:
type(incd['County'])

pandas.core.series.Series

In [40]:
incd.head()

,County,FIPS,"Age-Adjusted Incidence Rate - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,"US (SEER+NPCR)(1,10)",0,62.4,62.3,62.6,214614,falling,-2.5,-3,-2
1,"Autauga County, Alabama(6,10)",1001,74.9,65.1,85.7,43,stable,0.5,-14.9,18.6
2,"Baldwin County, Alabama(6,10)",1003,66.9,62.4,71.7,170,stable,3,-10.2,18.3
3,"Barbour County, Alabama(6,10)",1005,74.6,61.8,89.4,25,stable,-6.4,-18.3,7.3
4,"Bibb County, Alabama(6,10)",1007,86.4,71,104.2,23,stable,-4.5,-31.4,32.9

In [41]:
incd['Recent Trend'].value_counts()

stable     2429
falling     200
_           192
rising       43
__           17
Name: Recent Trend, dtype: int64

In [42]:
incd.describe()

               FIPS
count   2881.000000
mean   30097.852482
std    15121.368366
min        0.000000
25%    18171.000000
50%    29047.000000
75%    45005.000000
max    56045.000000

In [56]:
# Write a Python program to find a list of integers containing exactly four distinct values, such that no integer repeats twice 
# consecutively among the first twenty entries

li=[1, 2, 3,4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
s=set(li)
v=0
if len(s)==4:
    print(s)
    for each in range(0,len(li)-1):
        if li[each]==li[each+1]:
            v=1
            break
        else:
            v=0
else:
    v=1
if v==0:
    print('True')
else:
    print('False')

{1, 2, 3, 4}
True

In [ ]:
# Write a Python program to find the indexes of numbers in a given list below a given threshold.