# Python Module 2

In [ ]:
Issues in : 9.

#### 1. For a given list that contains numbers from 1 to 20. Using a for loop, create a new list that contains the square of each element from the given list

In [6]:
li = list()
li1 = list()

In [7]:
for i in range(1,21):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
li1.clear()
for each_ele in li:
    li1.append(each_ele*each_ele)
print(li1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

#### 2. For a given dictionary that contains numbers from 1-10 as keys, and their square as values, display each key-value pair using a for loop

In [12]:
di = dict()
for each_ele in range(1,10):
    di[each_ele] = each_ele * each_ele
print(di)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [22]:
for key,value in di.items():
    print(key,"::",value)

1 :: 1
2 :: 4
3 :: 9
4 :: 16
5 :: 25
6 :: 36
7 :: 49
8 :: 64
9 :: 81

#### 3. A tuple contains even numbers from 1-20. Display all the items in a tuple using a for loop.

In [43]:
tup1 = tuple()
li=list()
for i in range(1,21):
    if i%2==0:
        li.append(i)
tup1 = tuple(li)
print(tup1)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [46]:
len(tup1)
tup1[1]

4

In [55]:
tup1[i] for i in range(0,len(tup1))

SyntaxError: invalid syntax (413979123.py, line 1)

#### 4. A set contains odd numbers from 1-20. Display the items in a set using a for loop

In [54]:
s1=set()
for i in range(1,21):
    if i%2!=0:
        s1.add(i)
print(s1)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [61]:
for i in s1:
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

#### 5. For a given sequence of nested lists, display the elements using a for loop. a = [[1,2],[3,4],[5,6],[7,8]]

In [66]:
li = [[1,2],[3,4],[5,6],[7,8]]
for each in li:
    print(each)

[1, 2]
[3, 4]
[5, 6]
[7, 8]

#### 6. For a given sequence of nested dictionaries, display all the values in the dictionary.

In [82]:
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}
for key,value in a.items():
    print(key,"::",value)

1 :: {'one': 1}
2 :: {'two': 2}
3 :: {'three': 3}

#### 7. For a given list of natural numbers from 1-100, using the while loop, print only the numbers that are divisible by 2.

In [ ]:
li = list(range(1,101))
each=0
while each < len(li):
    each+=1
    if each %2==0:
        print(each, end = ' ')

#### 8. Print the first 5 multiples of 3 using a while loop.

In [2]:
i=1
r=lambda x,y : x*y
while i<5:
    print(r(3,i))
    i+=1

3
6
9
12

#### 9. For a given dictionary that contains the first 10 natural numbers as keys, and their cubes as values, display the key value pairs using a while loop

In [2]:
d=dict()
for x in range(1,11):
    d[x]=x**3
print(d)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [7]:
len(d)

10

In [12]:
k = d.keys()
i=1
while i<len(k):
    print(k(d)[0],d.get(i))

TypeError: 'dict_keys' object is not callable

#### 10. Write a program using a while loop demonstrating the usage of break, continue and pass statements along with if else statements.

In [3]:
str = 'qwerty'
i=-1
while True:
    i+=1
    if str[i]=='t':
        break
    if str[i]=='w':
        continue
    print(str[i])

q
e
r

In [ ]:
str = 'qwerty'
while str:
    pass

#### 11. Write a program using a for loop demonstrating the usage of break, continue and pass statements along with if else statements.

In [5]:
for each_ele in str:
    if each_ele=='t':
        break
    if each_ele=='w':
        continue
    print(each_ele)

q
e
r

#### 12. Create a nested for loop to print a pyramid pattern program in python.

In [8]:
for x in reversed(range(0,6)):
    for y in range(x):
        print("*", end =' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [2]:
for x in range(1,6):
    k=0
    for y in range(0,6-x-1):
        print('', end = ' ')
    while k<2*x-1:
        print('*', end ='')
        k+=1
    print()

    *
   ***
  *****
 *******
*********

In [11]:
for x in reversed(range(1,6)):
    k=0
    for y in range(0,6-x-1):
        print('', end = ' ')
    while k<2*x-1:
        print('*', end ='')
        k+=1
    print()

*********
 *******
  *****
   ***
    *

In [1]:
for x in range(1,6):
    k=0
    for y in range(0,6-x-1):
        print('', end = ' ')
    while k<2*x-1:    # 01  01234
        if k%2!=0:
            print('', end = ' ')
        else:
            print('*', end ='')
        k+=1
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [2]:
a = 25
b = 20
if a < b:
    print('Greater')
elif a == b:
    print('equal')
elif a > b and b > 10:
    print('Smaller')
elif a > 10 and b > 10:
    print('both')
elif a > 15 and b > 10:
    print('only One')
else:
    print('None')

Smaller

In [ ]:
def func(n): 
if n == 1:
    return n
else:
    first = 1
    second = 1
    for i in range(1, n):  # 1,2,3,4,5
        temp = first + second  # 2 3 5 8 13
        first = second  #1  2 3 5
        second = temp   #2 3 5 8
    return second
func(6)

In [ ]:
def func(num, res):
    for i in range(0, len(num)):  (0,9)
        if num[i] + 3 == res:
            print(num[i], end="")
func([1,4,3,7,8,4,6,3,7], 10)

In [6]:
def func(sample, res):
    for i in sample:
        print(i)
        if i == res:
            print(sample.index(i), end=",")
sample = [1,3,5,6,3,5,6,2,1]
func(sample, 5)

1
3
5
2,6
3
5
2,6
2
1

In [7]:
x = 169 ** 0.5

In [8]:
x

13.0

In [10]:
arr = [1,1,2,3,3,4,5,4,6,5,6,7,7,8]
dup = [1,3,4,5,6,7]
def func(sample):
    for x in sample:
        if sample.count(x) > 1:
            dup.append(x)
    for i in sample:
        if i in dup:
            pass
        else:
            print(i, end="")
func(arr)

28

In [13]:
round(13,2)

13

In [18]:
def func(x):

    if x > 0:

        x = x ** 0.5

        print(round(x, 8))

    else:

        x = x ** 1.5

        print(round(x, 8))

func(169)

13.0

In [22]:
sample_list = [4,5,3,1,2]

sample_list[0] = sample_list[len(sample_list)-1]

sample_list[len(sample_list)-1] = sample_list[0]
print(sample_list)

[2, 5, 3, 1, 2]

In [25]:
variable_A = "Python Programming"

Variable_B = "is an Object Oriented Programming Language"

out_variable_C = variable_A + Variable_B

print(Out_variable_C)

NameError: name 'Out_variable_C' is not defined

In [34]:
list_sample, tuple_sample, set_sample = [1,2,3], (4,5,6), {7,8,9}

list_sample.append(list(tuple_sample))
    print(list_sample)
print(list(set_sample))
list_sample.append(list(set_sample))
print(list_sample)
print(list_sample[len(list_sample)-3])

[1, 2, 3, [4, 5, 6]]
[8, 9, 7]
[1, 2, 3, [4, 5, 6], [8, 9, 7]]
3

In [37]:
#What is the output of the following code:
def func(self):
    if self % 2 == 0:
        print(self)
        return False
    else:
        return True

sample= [12,24,23,3,5,2]
z = filter(func, sample)
print(list(z))

12
24
2
[23, 3, 5]

In [ ]:
#What will be the value of count after the execution of the following code:
count = 0
for i in range(0, 6):
    while i < 6:
        if i % 2 == 0:
            count = count + 1
        else:
            pass
i = i + 5
print(i)

In [1]:

## Practice Question

In [65]:
# 1. Python program to interchange first and last elements in a list
#Input : [12, 35, 9, 56, 24]
#Output : [24, 35, 9, 56, 12]


li=list(map(int, input().strip().split()))
l=len(li)
print(l)

a=li[0]
li[0]=li[len(li)-1]
li[len(li)-1]=a
print(li)
# a=a+b
# b=a-b
# a=a-b
print(max(li))
print(min(li))

1 23 45 2 5
5
[5, 23, 45, 2, 1]
45
1

In [61]:
li=list(map(int, input().strip().split()))
li[0],li[-1]=li[-1],li[0]
print(li)

1 23 3 7 7 8 2
[2, 23, 3, 7, 7, 8, 1]

In [3]:
# print value of id

class tester:
    def __init__(self,id):
        self.id=str(id)
        id="225"
        
temp=tester(12)
print(temp.id)

12

In [29]:
'''    Draw pattern   
    *
   ***
  *****
 *******
*********

'''

for i in range(0,6):
    for j in reversed(range(0,5-i)):
        print(' ',end='')
    for j in range(0,2*i-1):
        
        print('*',end='')
    print()

    *
   ***
  *****
 *******
*********

In [53]:
# extract 6 
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a[1][2])
# last row and second col
print(a[2])
# TO fetch second column use a[:,1]

6
[7, 8, 9]

In [64]:
a=2;b=4
maximum = lambda a,b: a if a > b  else b
print(f'{maximum(a,b)} is a maximum number')

4 is a maximum number

In [93]:
# Python program to check whether the string is Symmetrical or Palindrome

s='papappapap'
print(len(s))
mid=int(len(s)/2)
# 5 - 2+3
# 6-3+3
str1,str2="",""
if(len(s)%2==0):
    str1,str2=s[0:mid],s[mid:]
else:
    str1,str2=s[0:mid],s[mid+1:]
    
print(str1,str2)
str3=str2[::-1]
if str1==str2:
    print("Symmetrical")
if str1==str3:
    print("palindrome")

10
papap papap
Symmetrical
palindrome

In [2]:
reverse word
str =" geeks quiz practice code"
s=str.split()[::-1]
" ".join(s)

'code practice quiz geeks'

In [7]:
#print even letters words
s = "Thgis is a pytrhon language"
for each in s.split():
#     print(each)
    if len(each)%2==0:
        print(each)

is
language

In [14]:
#How to count unique values inside a list

li = [1, 2, 2, 5, 8, 4, 4, 8]
fl=list()
for each in li:
    if each  not in fl:
        fl.append(each)
print(len(fl))

5

In [15]:
#How to count unique values inside a list

li = [1, 2, 2, 5, 8, 4, 4, 8]
len(set(li))

5

In [16]:
#How to count unique values inside a list

li = [1, 2, 2, 5, 8, 4, 4, 8]
len(dict(li))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [34]:
class Fruit:
    def __init__(self):
        print('Fruit fn')
    def __len__(self):
        print('10')
class Orange(Fruit):
    def __init__(self):
        super().__init__()
        print('Orange fn')

In [35]:
obj1=Orange()

Fruit fn
Orange fn

In [36]:
obj2=Fruit()
obj2.__len__()

Fruit fn
10

In [42]:
class Fruit:
    def __len__(self):
        return 100
print(len(Fruit()))

100

In [46]:
class Fruit:
    def __str__(self):
        return 'Fruit fn'

print(Fruit())

Fruit fn

In [48]:
class Car:
    def __init__(self):
        self.__updateSoftware()
    def printname(self):
        print("Hi there")
    def __updateSoftware(self):
        print("Software Updated")
        
redCar=Car()
redCar.printname()
redCar._Car__updateSoftware()

Software Updated
Hi there
Software Updated

In [51]:
try:
    print("Inside try block")
    print(1/0)
    print("Last of try block")
except:
    print("Got an exception")

Inside try block
Got an exception

In [69]:

try:
    a=input()
    b=input()
    print(a,b)
    print(int(a)/int(b))
    print(int(b)/int(a))
except ZeroDivisionError:
    print('ZeroDivisionError Occurred and Handled')

9
0
9 0
ZeroDivisionError Occurred and Handled

In [73]:

try:
    a=input()
    b=input()
    print(a,b)
    if int(a)==0 or int(b)==0:
        raise ZeroDivisionError;
except ZeroDivisionError:
    print('ZeroDivisionError Occurred and Handled')
    raise

0
9
0 9
ZeroDivisionError Occurred and Handled

ZeroDivisionError:

In [59]:
def fun(a):
    if a < 4:
        b = a/(a-3)
    print("Value of b = ", b)

try:
# 	fun(3)
	fun(5)
except ZeroDivisionError:
	print("ZeroDivisionError Occurred and Handled")
except NameError:
	print("NameError Occurred and Handled")

Value of b =  2.0

In [19]:
import math 
print(math.pow(2,3))

8.0

In [ ]:
import math
def Triangle():
    h=input("Enter height of triangle")
    b=input("Enter breadth of triangle")
    area=lambda h,b:(h*b)/2
    return area(int(h),int(b));

def Square():
    s=input("Enter side for square")
    area=lambda s:s*s
    return area(int(s))

def Rectangle():
    l=input("Enter length")
    w=input("Enter width")
    area=lambda l,w:(l,w)/2
    return area(int(l),int(w))

def Pentagon():
    s=input("Enter side")
    l=input("Enter length")
    area=lambda l,s:2.5*l*s
    return area(int(l),int(s))

def Hexagon():
    s=input("Enter side")
    area=lambda s:(3*math.sqrt(3)*pow(s,2))/2
    return area(int(s))

def Heptagon():
    l=input("Enter length")
    w=input("Enter width")
    area=lambda l,w:l * (w ** 2) / (4 * tan(pi / l))
    return area(int(l),int(w))

def Octagon():
    s=input("Enter side")
    area=lambda s:2*(a+math.sqrt(2))*pow(s,2)
    return area(int(s))

a=True;
area=0
while(a):
    choice=input("Please enter which area you want to find")
    if(choice=='Triangle'):
        area=Triangle()
    elif(choice=='Square'):
        area=Square()
    elif(choice=='Rectangle'):
        area=Rectangle()
    elif(choice=='Pentagon'):
        area=Pentagon()
    elif(choice=='Hexagon'):
        area=Hexagon()
    elif(choice=='Heptagon'):
        area=Heptagon()
    elif(choice=='Octagon'):
        area=Octagon()
    else:
        print("Please enter valid option.")
        
    print("Area of",choice,"is : "+area)
    
    i=input("Do you want to find more area? Press Y for Yes and N for No.")
    if(i=='Y'):
        a=True
    else:
        a=False

In [2]:
#IDENTITY MATRIX using loop

for i in range(1,5):
    for j in range(1,5):
        if(i==j):
            print('1',end=' ')
        else:
            print('0',end=' ')
    print()

1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1

In [23]:
import math 
print(math.pow(2,3))
try:
    print(math.exp(500000))
except OverflowError:
    print('OverflowError thrown and hadled')

8.0
OverflowError thrown and hadled

In [2]:
pip3 install termcolor

Collecting termcolor
Note: you may need to restart the kernel to use updated packages.

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'))': /packages/aa/f4/8ddd8a684b4c005345f45740a449d93d0af7ccecd91319d0f4426cf08b36/termcolor-2.2.0-py3-none-any.whl
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'))': /packages/aa/f4/8ddd8a684b4c005345f45740a449d93d0af7ccecd91319d0f4426cf08b36/termcolor-2.2.0-py3-none-any.whl
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'))': /packages/aa/f4/8ddd8a684b4c005345f45740a449d93d0af7ccecd91319d0f4426cf08b36/termcolor-2.2.0-py3-none-any.whl
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'))': /packages/aa/f4/8ddd8a684b4c005345f45740a449d93d0af7ccecd91319d0f4426cf08b36/termcolor-2.2.0-py3-none-any.whl
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'))': /packages/aa/f4/8ddd8a684b4c005345f45740a449d93d0af7ccecd91319d0f4426cf08b36/termcolor-2.2.0-py3-none-any.whl
ERROR: Could not install packages due to an OSError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Max retries exceeded with url: /packages/aa/f4/8ddd8a684b4c005345f45740a449d93d0af7ccecd91319d0f4426cf08b36/termcolor-2.2.0-py3-none-any.whl (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)')))

In [25]:
print('aa')

aa

In [26]:
from termcolor import colored, cprint

text = colored('Hello, World!', 'red', attrs=['reverse', 'blink'])
print(text)
cprint('Hello, World!', 'green', 'on_red')

ModuleNotFoundError: No module named 'termcolor'

In [3]:
python -m pip install termcolor

SyntaxError: invalid syntax (3989830686.py, line 1)

In [4]:
conda install -c conda-forge termcolor

Collecting package metadata (current_repodata.json): ...working... failed

Note: you may need to restart the kernel to use updated packages.

CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://conda.anaconda.org/conda-forge/win-64/current_repodata.json>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.
'https://conda.anaconda.org/conda-forge/win-64'

In [17]:
class validvoteage(Exception):
    'Voting is allowed for candidates greater than 18'
    print('Hi')
    pass

num=18
class agechecker:
    def age_check():
        try:
            age=int(input("Enter age of candidate"))
            if(age>=num):
                print("Voting Allowed")
            elif(age<num):
                raise validvoteage
        except validvoteage:
            print("Invalid age")

Hi

In [18]:
obj=agechecker
obj.age_check()

Enter age of candidate3
Invalid age

In [1]:
def factor(num):
    if(num==1):
        return num
    return num*factor(num-1)

factor(5)

120

In [14]:
def check_string():
    str=input('Enter string')
    if('s' in str):
        print('String has \'s\'')
    else:
        print('No \'s\'')

In [15]:
check_string()

Enter stringabvgtcsfvbjh gcs
String has 's'

In [29]:
# palindrome

str=input('Enter string')
l=int(len(str)/2)
if(len(str)%2==0):
    s1=str[0:l]
    s2=str[l:]
else:
    s1=str[0:l]
    s2=str[:l:-1]
if(s1==s2):
    print('palindrome')
else:
    print('not')

Enter stringamama
palindrome

In [32]:
a=lambda x:x*2
print(a(49))

98

In [33]:
class student:
    def fun1(self):
        self.a=input('Enter message')
        return self.a
    def message(self):
        print(self.a)

In [36]:
obj=student()

In [37]:
obj.fun1()

Enter messageshivani

'shivani'

In [38]:
obj.message()

shivani

In [39]:
class Super:
    def fun1(self):
        print('this is fun1 in super class')
class modified_Super(Super):
    def fun1(self):
        print('this is fun1 in modified super')
    def fun2(self):
        print('this is fun2 in modified super')

In [40]:
obj=modified_Super()

In [41]:
obj.fun1()

this is fun1 in modified super

In [8]:
import functools as ft
def sum(*args):
    return ft.reduce(lambda x,y:x+y,args)

In [9]:
sum(1,2,3,4,5)

15

# Numpy

In [11]:
# steps to read and visualise the data

'''

problems in dataset:

1. missing values
2. unnecessary data
3. wrong format - like date format is different, currency is different etc
4. Wrong units - km to m or temp in celcius to  farenhiet


 1.Import Libraries
 2.Load the dataset using pandas.
 3. Explore the pandas dataframe using the head() and info() and shape functions.
 4.Visualize the Data - eg. we can use a scatter plot using Seaborn to visualize the data, 
 5. Clean the data
 
'''

'\n\nproblems in dataset:\n\n1. missing values\n2. unnecessary data\n3. wrong format - like date format is different, currency is different etc\n4. Wrong units - km to m or temp in celcius to  farenhiet\n\n\n 1.Import Libraries\n 2.Load the dataset using pandas.\n 3. Explore the pandas dataframe using the head() and info() and shape functions.\n 4.Visualize the Data - eg. we can use a scatter plot using Seaborn to visualize the data, \n 5. Clean the data\n \n'

In [12]:
import numpy as np
li=np.arange(10)
print(li)

[0 1 2 3 4 5 6 7 8 9]

In [15]:
np.ones(3)

array([1., 1., 1.])

In [21]:
np.ones([3,3],dtype = int,order = 'F')

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [20]:
np.ones([3,3],dtype = int)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [30]:
a=np.random.randint((10,10))
a

array([5, 0])

In [43]:
np.random.randint(50,size=(4, 4))

array([[11,  9, 48, 46],
       [27, 41, 35, 25],
       [22, 49,  9, 23],
       [23, 11, 43, 19]])

In [48]:
np.random.random((2,6))

array([[0.64158952, 0.49337357, 0.33042591, 0.17935087, 0.70455875,
        0.26281939],
       [0.36196877, 0.80811183, 0.71053112, 0.93001534, 0.47075821,
        0.42088288]])

In [56]:
np.linspace(5,6,18)

array([5.        , 5.05882353, 5.11764706, 5.17647059, 5.23529412,
       5.29411765, 5.35294118, 5.41176471, 5.47058824, 5.52941176,
       5.58823529, 5.64705882, 5.70588235, 5.76470588, 5.82352941,
       5.88235294, 5.94117647, 6.        ])

In [66]:
li = np.random.randint(10,size=(3,3))
print(li)
print(li[:2,1:])

[[5 3 3]
 [2 8 0]
 [8 1 9]]
[[3 3]
 [8 0]]

In [71]:
li[1:2,:2]

array([[2, 8]])

In [74]:
my_list=np.array([10,20,30,'T',True,8.10])
my_list

array(['10', '20', '30', 'T', 'True', '8.1'], dtype='<U32')

In [85]:
# li=np.array([30,40])
# np.concatenate((my_list,li),axis=0)
my_list=np.flip(my_list)
my_list

array(['40', '30', '40', '30', '8.1', 'True', 'T', '30', '20', '10'],
      dtype='<U32')

In [97]:
# 1D
arr1= np.arange(10)
print(arr1.ndim)
print(arr1)
#2D
arr2=arr1.reshape(2,5)
print(arr2)
arr3

1
[0 1 2 3 4 5 6 7 8 9]
[[0 1 2 3 4]
 [5 6 7 8 9]]

In [1]:
d1={1:'data',2:'info',3:'company'}

In [2]:
d1.pop(3)

'company'

In [3]:
d1

{1: 'data', 2: 'info'}

In [10]:
d1.update({5:'infp'})

In [11]:
d1

{1: 'data', 2: 'infp', 5: 'infp'}

In [107]:
np.ones(5,dtype=int)

array([1, 1, 1, 1, 1])

In [110]:
np.ones((2,2),dtype=int)*5

array([[5, 5],
       [5, 5]])

In [116]:
np.full((5,5),5)

array([[5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5]])

In [114]:
np.full((2, 2), 10)

array([[10, 10],
       [10, 10]])

In [120]:
np.random.randint(10,size=(2,3))

array([[3, 1, 4],
       [3, 8, 8]])

In [121]:
arr=np.array([1,2,3,4])
np.flip(arr)

array([4, 3, 2, 1])

In [122]:
arr[::-1]

array([4, 3, 2, 1])

In [124]:
arr=np.array([[1,2,3,4],[2,3,4,5]])
np.flip(arr)

array([[5, 4, 3, 2],
       [4, 3, 2, 1]])

In [125]:
arr=np.array([[1,2,3,4,2,13,4,15]])

In [129]:
np.unique(arr,return_index=True)

(array([ 1,  2,  3,  4, 13, 15]), array([0, 1, 2, 3, 5, 7], dtype=int64))

In [130]:
m = np.zeros_like(a, dtype=bool)
m[np.unique(a, return_index=True)[1]] = True

In [132]:
np.count_nonzero(arr==2)

2

In [133]:
np.repeat(arr)

TypeError: _repeat_dispatcher() missing 1 required positional argument: 'repeats'

# Numpy + Scipy Handson

### Question 1 : Create a 3*3 2-D array. Delete the 2nd column by axis 1 and add a new column in place of deleted column

In [2]:
import numpy as np
import scipy as sc
import scipy.special as ss
import pandas as pd

In [157]:
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [158]:
ar1= np.delete(arr,1,axis=1)
ar1

array([[1, 3],
       [4, 6],
       [7, 9]])

In [149]:
arr[:,1:2]

array([[2],
       [5],
       [8]])

In [164]:
a=np.array([1,5,2])
ar1

[7, 8, 9, 10]

In [165]:
np.insert(ar1,1,a,axis=1)

array([[1, 1, 3],
       [4, 5, 6],
       [7, 2, 9]])

### Question 2: Find rank, trace, determinant, inverse of given matrix. And also raise a matrix to power 3 using numpy.
    #Input: A = np.array([[6, 1, 1], [4, -2, 5], [2, 8, 7]])

In [21]:
A = np.array([[6, 1, 1], [4, -2, 5], [2, 8, 7]])
A.ndim

2

In [22]:
np.linalg.matrix_rank(A)

3

In [23]:
A.trace()

11

In [25]:
np.linalg.det(A)

-306.0

In [26]:
np.linalg.inv(A)

array([[ 0.17647059, -0.00326797, -0.02287582],
       [ 0.05882353, -0.13071895,  0.08496732],
       [-0.11764706,  0.1503268 ,  0.05228758]])

### Question 3: Find determinant of given matrix using scipy
#A = np.array([[5,9],[8,4]])

In [28]:
sc.linalg.det(A)

-306.0

### Question 4 : Find eigen values and eigen vectors of given matrix using numpy
#A = np.array([[3,2],[4,6]])

In [30]:
eigen_val,eigen_vector=np.linalg.eig(A)
print(eigen_val,eigen_vector)

[11.24862343  5.09285054 -5.34147398] [[ 0.24511338  0.75669314  0.02645665]
 [ 0.40622202 -0.03352363 -0.84078293]
 [ 0.88028581 -0.65291014  0.54072554]]

### Question 5: #Find eigen values and eigen vectors of given matrix using scipy
#A = np.array([[1,4],[8,6]])

In [32]:
A = np.array([[1,4],[8,6]])
eigen_val,eigen_vector=sc.linalg.eig(A)
print(eigen_val,eigen_vector)

[-2.68465844+0.j  9.68465844+0.j] [[-0.73550406 -0.41834209]
 [ 0.67752031 -0.90828954]]

### Question 6 Find dot product of two matrices
a = np.array([[1,2],[3,4]])
b = np.array([[11,12],[13,14]])

In [33]:
a = np.array([[1,2],[3,4]]) 
b = np.array([[11,12],[13,14]])

np.dot(a,b)

array([[37, 40],
       [85, 92]])

### Question 7: Find cross product of two given vectors
x = [1, 2, 3]
y = [4, 5, 6]

In [34]:
x = [1, 2, 3] 
y = [4, 5, 6]
np.cross(x,y)

array([-3,  6, -3])

### Question 8: Create two random arrays of integers of size 25 . Find dot product of that random arrays.

In [47]:
A=np.array(np.random.randint(100,size=25))
B=np.random.randint(100,size=25)

In [43]:
np.dot(A,B)

51691

In [48]:
A

array([93, 73, 22, 58, 96,  3, 66, 82, 46,  8, 17, 26, 99, 67, 95, 36, 42,
       29, 80, 15,  9, 98, 73, 57, 19])

In [49]:
B

array([34, 71, 11, 37, 67, 85, 74, 77, 14, 59, 70, 64,  8, 35, 43, 97, 94,
       79, 12,  5, 79, 24, 17, 84,  0])

### Question 9: Create two random matrix . Find dot product of that random matrix

In [62]:
A=np.random.randint(100,size=25)
B=np.random.randint(100,size=25)
A=A.reshape((5,5))
B=B.reshape((5,5))

np.dot(A,B)
A

array([[59, 97, 86, 54, 31],
       [77, 76,  0, 49,  4],
       [43, 41, 36, 17, 75],
       [11, 59, 38,  3, 39],
       [ 3, 73, 21, 20, 83]])

### Question 10: ROOT of the equation. The following example considers the single-variable transcendental equation. 
x**2 + 2cos(x) = 0
Find the solution of this equation

In [174]:
from scipy.optimize import fsolve
import math
A=math.cos(10)
f = lambda x: x**2-2*A

# fsolve(f, [2, 80])
fsolve(f, 10)

array([-0.00108342])

In [167]:
math.cos(2)

-0.4161468365471424

In [170]:
np.cos(2)

-0.4161468365471424

### Question 11: Generate random values between 0 and 1 of size 25. 
Reshape it into matrix and then Calculate mean of that array using numpy along axis 0, axis 1

In [76]:
A=np.random.randint(2,size=25)
A

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0])

In [77]:
A=A.reshape((5,5))
A.mean(axis=0)

array([0.2, 0.6, 0.8, 0.4, 0.2])

In [78]:
A.mean(axis=1)

array([0.6, 0.4, 0.2, 0.4, 0.6])

### Question 12: Generate random values between 0 and 1.
Reshape it into matrix and then Calculate standard deviation of that array
using numpy along axis 0, axis 1

In [79]:
A.std(axis=0)

array([0.4       , 0.48989795, 0.4       , 0.48989795, 0.4       ])

In [80]:
A.std(axis=1)

array([0.48989795, 0.48989795, 0.4       , 0.48989795, 0.48989795])

### Question 13: Generate Normal Random Variables of size 150 and find mean and standard deviation using scipy

In [82]:
A=np.random.randint(2,size=150)
A

array([0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1])

In [83]:
sc.mean(A)

C:\Users\LPT-3036\AppData\Local\Temp\ipykernel_12260\1252459438.py:1: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  sc.mean(A)

0.5133333333333333

C:\Users\LPT-3036\AppData\Local\Temp\ipykernel_12260\1684563236.py:1: DeprecationWarning: scipy.std is deprecated and will be removed in SciPy 2.0.0, use numpy.std instead
  sc.std(A)

0.4998221906060416

### Question 14: Write a program for interchanging two axes of the NumPy array

In [86]:
b = np.array([[11,12],[13,14]])
b

array([[11, 12],
       [13, 14]])

In [90]:
np.swapaxes(b,1,0)

array([[11, 13],
       [12, 14]])

### Question 15: Create two numpy arrays( arr1 = [7,8,9,10], arr2 = [1,2,3,4] ) . Add the both arrays and then multiply the resultant array with first array and get the element at index2

In [92]:
arr1 = [7,8,9,10]
arr2 = [1,2,3,4]

In [94]:
arr3=np.add(arr1,arr2)

In [98]:
np.multiply(arr1,arr3)[2]

108

### Question 16. Change the data type of a given NumPy array?
arr = [2.7, 3.14, 5.89, 7]

In [101]:
arr = np.array([2.7, 3.14, 5.89, 7])

In [102]:
arr.astype('int')

array([2, 3, 5, 7])

In [103]:
### Question 17. Create a matrix of elements between 30 to 39. And reverse the matrix.

arr=np.random.randint(30,39,size=(3,3))

In [104]:
arr

array([[33, 35, 30],
       [37, 34, 35],
       [32, 34, 38]])

In [105]:
arr[::-1]

array([[32, 34, 38],
       [37, 34, 35],
       [33, 35, 30]])

In [106]:
arr[::-1,::-1]

array([[38, 34, 32],
       [35, 34, 37],
       [30, 35, 33]])

### Question 18. Given two matrices. Add both matrices, subtract both matrices, multiply both matrices. And then Find the transpose of resultant matrix you got by multiplication.
A = ([[1,2,3],[4,5,6,],[7,8,9]])
B = ([[2,4,6],[8,10,12],[14,16,18]])

In [107]:
A = ([[1,2,3],[4,5,6,],[7,8,9]]) 
B = ([[2,4,6],[8,10,12],[14,16,18]])

In [108]:
c=A+B

In [109]:
c

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [112]:
np.add(A,B)

array([[ 3,  6,  9],
       [12, 15, 18],
       [21, 24, 27]])

In [113]:
np.subtract(A,B)

array([[-1, -2, -3],
       [-4, -5, -6],
       [-7, -8, -9]])

In [115]:
D=np.multiply(A,B)

In [116]:
D.T

array([[  2,  32,  98],
       [  8,  50, 128],
       [ 18,  72, 162]])

In [117]:
np.transpose(D)

array([[  2,  32,  98],
       [  8,  50, 128],
       [ 18,  72, 162]])

### Question 19 Stack the two given matrices vertically and horizontally.
A = ([[1,2,3],[4,5,6,],[7,8,9]])
B = ([[2,4,6],[8,10,12],[14,16,18]])

In [121]:
A = np.array([[1,2,3],[4,5,6,],[7,8,9]])
B = np.array([[2,4,6],[8,10,12],[14,16,18]])

np.vstack((A,B))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [122]:
np.hstack((A,B))

array([[ 1,  2,  3,  2,  4,  6],
       [ 4,  5,  6,  8, 10, 12],
       [ 7,  8,  9, 14, 16, 18]])

### Question 20 Create the 2D numpy array, First swap the first two rows of arrays and then swap the first two columns of the array.

In [3]:
A=np.random.randint(100,size=(3,3))
A

array([[70, 49, 74],
       [ 9, 90, 38],
       [87, 80, 22]])

In [4]:
A[:,1]

array([49, 90, 80])

In [5]:
A[0,:],A[1]=A[1],A[0]

In [6]:
A

array([[ 9, 90, 38],
       [ 9, 90, 38],
       [87, 80, 22]])

In [133]:
A[:,0],A[:,1]=A[:,1],A[:,0]

In [135]:
A

array([[45, 45, 67],
       [45, 45, 67],
       [60, 60,  1]])

In [ ]:
np.swapaxes()

In [183]:
np.average(B)

10.0

In [184]:
np.mean(B)

10.0

In [7]:
# Write a Python program to find a list of integers with exactly two occurrences of nineteen and at least three occurrences 
# of five. Return True otherwise False

count19,count5=0,0
li=[11, 12, 14, 13, 14, 13, 15, 14]
for each in li:
    if(each==19):
        count19+=1
    elif(each==5):
        count5+=1
if(count19==2 and count5==3):
    print('True')
else:
    print('False')

False

In [9]:
def test(li):
    return all(i in range(500) and abs(i - j) >= 10 for i in li for j in li if i != j) and len(set(li)) == 100
nums = list(range(0, 500, 10))
print("Original list:")
print(nums)
print("Check whether the said list contains one hundred integers between 0 and 999 which all differ by at least ten from one another:")
print(test(nums))
nums = list(range(0, 500, 20))
print("Original list:")

print(nums)

print("Check whether the said list contains one hundred integers between 0 and 999 which all differ by at least ten from one another:")

print(test(nums))

Original list:
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490]
Check whether the said list contains one hundred integers between 0 and 999 which all differ by at least ten from one another:
False
Original list:
[0, 20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280, 300, 320, 340, 360, 380, 400, 420, 440, 460, 480]
Check whether the said list contains one hundred integers between 0 and 999 which all differ by at least ten from one another:
False