# PANDAS

In [1]:
import pandas as pd

In [2]:
# 3 data stuctures - 
'''
1d - Series
2d - Data Frame
ND - Panel(Multidimensional)
'''

'\n1d - Series\n2d - Data Frame\nND - Panel(Multidimensional)\n'

In [6]:
num = pd.Series([1,2,3,4])
print(num)
print(type(num))
for i in num:
    print(i)

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>
1
2
3
4

In [8]:
# another way to set Series
li=[1,2,3,4]
nums_series=pd.Series(li)
print(nums_series)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
num = pd.Series([1,2,3,4], index=['a','b','c','d'])
print(num)
# we can access data from initial and new indexes both
print(num[0],num['a'])

a    1
b    2
c    3
d    4
dtype: int64
1 1

In [19]:
# Series from dictionary

a={
    'name':'shivani',
    'age':'22',
    'age':'22'
}
print(a)

b=pd.Series(a)
print(b)
print(type(b))

print(b['age'])

{'name': 'shivani', 'age': '22'}
name    shivani
age          22
dtype: object
<class 'pandas.core.series.Series'>
22

In [25]:
# Series from dictionary

a={
    'name':'shivani',
    'age':'22',
    'Mother':{'name':'Meenu',
    'age':'46',}
}
print(a)

b=pd.Series(a)
print(b)
# print(type(b))
print(b['Mother'])
print(b['Mother']['name'])

{'name': 'shivani', 'age': '22', 'Mother': {'name': 'Meenu', 'age': '46'}}
name                             shivani
age                                   22
Mother    {'name': 'Meenu', 'age': '46'}
dtype: object
{'name': 'Meenu', 'age': '46'}
Meenu

## Data Set OR Data Frame

In [36]:
person = {
    'cars':['mercedes','audi','honda'],
    'bikes':['tvs','a','b']
}

person_df = pd.DataFrame(person)
person_series = pd.Series(person)
print(person_df,end='\n\n\n')
print(person_series,end='\n\n\n')
person_df

       cars bikes
0  mercedes   tvs
1      audi     a
2     honda     b


cars     [mercedes, audi, honda]
bikes                [tvs, a, b]
dtype: object

       cars bikes
0  mercedes   tvs
1      audi     a
2     honda     b

## Read a CSV file  -> data frame

In [4]:
import pandas as pd
df = pd.read_csv('mtcars.csv')
df

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [38]:
df.columns

Index(['S.No', 'name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [39]:
type(df.columns)

pandas.core.indexes.base.Index

In [42]:
df.hp # or df['hp']  Preffered one is sq bracket one bcoz in case there is unnamed column or column with space then it can be accessed using square bracket only and not dot product

0     110.0
1     110.0
2      93.0
3     110.0
4     175.0
5     105.0
6     245.0
7      62.0
8       NaN
9     123.0
10    123.0
11    180.0
12    180.0
13    180.0
14      NaN
15    215.0
16    230.0
17     66.0
18     52.0
19     65.0
20     97.0
21    150.0
22    150.0
23    245.0
24    175.0
25     66.0
26     91.0
27    113.0
28    264.0
29    175.0
30    335.0
31    109.0
Name: hp, dtype: float64

In [45]:
df['hp'][0]

110.0

In [50]:
df['hp','am','cyl','mpg']

KeyError: ('hp', 'am', 'cyl', 'mpg')

In [49]:
df[['hp','cyl','mpg']]  # need to pass 1 parameter so 2d array is passed

       hp  cyl   mpg
0   110.0    6  21.0
1   110.0    6  21.0
2    93.0    4  22.8
3   110.0    6  21.4
4   175.0    8  18.7
5   105.0    6  18.1
6   245.0    8  14.3
7    62.0    4  24.4
8     NaN    4  22.8
9   123.0    6  19.2
10  123.0    6  17.8
11  180.0    8  16.4
12  180.0    8  17.3
13  180.0    8  15.2
14    NaN    8  10.4
15  215.0    8  10.4
16  230.0    8  14.7
17   66.0    4  32.4
18   52.0    4  30.4
19   65.0    4  33.9
20   97.0    4  21.5
21  150.0    8  15.5
22  150.0    8  15.2
23  245.0    8  13.3
24  175.0    8  19.2
25   66.0    4  27.3
26   91.0    4  26.0
27  113.0    4  30.4
28  264.0    8  15.8
29  175.0    6  19.7
30  335.0    8  15.0
31  109.0    4  21.4

In [53]:
print(df.head())   #  Gives first 5 data. by default it is 5. In case we need 3 then pass 3 in brackets
df.head(3)

   S.No               name   mpg  cyl   disp     hp  drat     wt   qsec  vs  \
0     1          Mazda RX4  21.0    6  160.0  110.0  3.90  2.620  16.46   0
1     2      Mazda RX4 Wag  21.0    6  160.0  110.0  3.90  2.875  17.02   0
2     3         Datsun 710  22.8    4  108.0   93.0  3.85  2.320  18.61   1
3     4     Hornet 4 Drive  21.4    6  258.0  110.0  3.08  3.215  19.44   1
4     5  Hornet Sportabout  18.7    8  360.0  175.0  3.15  3.440  17.02   0

   am  gear  carb
0   1     4     4
1   1     4     4
2   1     4     1
3   0     3     1
4   0     3     2

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1

In [56]:
df.head(-10)  # It skips last 10 values. Like prints 0 to -10 values

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2

In [59]:
print(df.tail())  # In case need last 3 values then use tail. It has 5 as default value
df.tail(3)

    S.No            name   mpg  cyl   disp     hp  drat     wt  qsec  vs  am  \
27    28    Lotus Europa  30.4    4   95.1  113.0  3.77  1.513  16.9   1   1
28    29  Ford Pantera L  15.8    8  351.0  264.0  4.22  3.170  14.5   0   1
29    30    Ferrari Dino  19.7    6  145.0  175.0  3.62  2.770  15.5   0   1
30    31   Maserati Bora  15.0    8  301.0  335.0  3.54  3.570  14.6   0   1
31    32      Volvo 142E  21.4    4  121.0  109.0  4.11  2.780  18.6   1   1

    gear  carb
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.77,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.57,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.78,18.6,1,1,4,2

In [61]:
df.tail(-7)   # To skip first 7 values

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

# Get Row

In [62]:


df.head(1)

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.9,2.62,16.46,0,1,4,4

In [64]:
# Use Locators

# iloc(rows,col) -> iloc((start,end,step),(start,end,step))
print(df.iloc) # It gives df addresss
df.iloc[0]

<pandas.core.indexing._iLocIndexer object at 0x0000019F4642ACC0>

S.No            1
name    Mazda RX4
mpg          21.0
cyl             6
disp        160.0
hp          110.0
drat          3.9
wt           2.62
qsec        16.46
vs              0
am              1
gear            4
carb            4
Name: 0, dtype: object

In [66]:
df.iloc[0][2]  # mpg ki value for 0th row

21.0

In [67]:
df.iloc[0,2]

21.0

In [69]:
df.iloc[0,1:6]  # 1-3 tak values print h

name    Mazda RX4
mpg          21.0
cyl             6
disp        160.0
hp          110.0
Name: 0, dtype: object

In [70]:
df.iloc[0,1:6:2]

name    Mazda RX4
cyl             6
hp          110.0
Name: 0, dtype: object

In [73]:
df.iloc[-1:-5]

Empty DataFrame
Columns: [S.No, name, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb]
Index: []

In [76]:
df.iloc[-1:-5:-1]

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.78,18.6,1,1,4,2
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.57,14.6,0,1,5,8
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.77,15.5,0,1,5,6
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.17,14.5,0,1,5,4

In [74]:
df.iloc[-5:-1]

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.6,0,1,5,8

In [79]:
df.iloc[3,-5:-1]

qsec    19.44
vs          1
am          0
gear        3
Name: 3, dtype: object

In [80]:
df.iloc[3,-5:-1:-1]

Series([], Name: 3, dtype: object)

In [82]:
df.iloc[:-3,-5:-1]

     qsec  vs  am  gear
0   16.46   0   1     4
1   17.02   0   1     4
2   18.61   1   1     4
3   19.44   1   0     3
4   17.02   0   0     3
5     NaN   1   0     3
6   15.84   0   0     3
7   20.00   1   0     4
8   22.90   1   0     4
9   18.30   1   0     4
10  18.90   1   0     4
11  17.40   0   0     3
12  17.60   0   0     3
13  18.00   0   0     3
14  17.98   0   0     3
15  17.82   0   0     3
16  17.42   0   0     3
17    NaN   1   1     4
18  18.52   1   1     4
19  19.90   1   1     4
20  20.01   1   0     3
21  16.87   0   0     3
22  17.30   0   0     3
23  15.41   0   0     3
24  17.05   0   0     3
25    NaN   1   1     4
26  16.70   0   1     5
27  16.90   1   1     5
28  14.50   0   1     5

## LOCATORS  -->> nums and String

In [83]:
#LOCATORS  -->> nums and String

df.loc[0,'cyl']

6

In [84]:
df.loc[0:3,'cyl']

0    6
1    6
2    4
3    6
Name: cyl, dtype: int64

In [85]:
df.loc[0:3,'cyl':'wt']

   cyl   disp     hp  drat     wt
0    6  160.0  110.0  3.90  2.620
1    6  160.0  110.0  3.90  2.875
2    4  108.0   93.0  3.85  2.320
3    6  258.0  110.0  3.08  3.215

### Set Index

In [87]:
print(df.index)

RangeIndex(start=0, stop=32, step=1)

In [5]:
new_df =df.set_index('hp')

In [6]:
print(new_df)

       S.No                 name   mpg  cyl   disp  drat     wt   qsec  vs  \
hp
110.0     1            Mazda RX4  21.0    6  160.0  3.90  2.620  16.46   0
110.0     2        Mazda RX4 Wag  21.0    6  160.0  3.90  2.875  17.02   0
93.0      3           Datsun 710  22.8    4  108.0  3.85  2.320  18.61   1
110.0     4       Hornet 4 Drive  21.4    6  258.0  3.08  3.215  19.44   1
175.0     5    Hornet Sportabout  18.7    8  360.0  3.15  3.440  17.02   0
105.0     6              Valiant  18.1    6  225.0  2.76  3.460    NaN   1
245.0     7           Duster 360  14.3    8  360.0  3.21  3.570  15.84   0
62.0      8            Merc 240D  24.4    4  146.7  3.69  3.190  20.00   1
NaN       9             Merc 230  22.8    4  140.8  3.92  3.150  22.90   1
123.0    10             Merc 280  19.2    6  167.6  3.92  3.440  18.30   1
123.0    11            Merc 280C  17.8    6  167.6  3.92  3.440  18.90   1
180.0    12           Merc 450SE  16.4    8  275.8  3.07  4.070  17.40   0
180.0    13           Merc 450SL  17.3    8  275.8  3.07  3.730  17.60   0
180.0    14          Merc 450SLC  15.2    8  275.8  3.07  3.780  18.00   0
NaN      15   Cadillac Fleetwood  10.4    8  472.0  2.93  5.250  17.98   0
215.0    16  Lincoln Continental  10.4    8  460.0  3.00  5.424  17.82   0
230.0    17    Chrysler Imperial  14.7    8  440.0  3.23  5.345  17.42   0
66.0     18             Fiat 128  32.4    4   78.7  4.08  2.200    NaN   1
52.0     19          Honda Civic  30.4    4   75.7  4.93  1.615  18.52   1
65.0     20       Toyota Corolla  33.9    4   71.1  4.22  1.835  19.90   1
97.0     21        Toyota Corona  21.5    4  120.1  3.70  2.465  20.01   1
150.0    22     Dodge Challenger  15.5    8  318.0  2.76  3.520  16.87   0
150.0    23          AMC Javelin  15.2    8  304.0  3.15  3.435  17.30   0
245.0    24           Camaro Z28  13.3    8  350.0  3.73  3.840  15.41   0
175.0    25     Pontiac Firebird  19.2    8  400.0  3.08  3.845  17.05   0
66.0     26            Fiat X1-9  27.3    4   79.0  4.08  1.935    NaN   1
91.0     27        Porsche 914-2  26.0    4  120.3  4.43  2.140  16.70   0
113.0    28         Lotus Europa  30.4    4   95.1  3.77  1.513  16.90   1
264.0    29       Ford Pantera L  15.8    8  351.0  4.22  3.170  14.50   0
175.0    30         Ferrari Dino  19.7    6  145.0  3.62  2.770  15.50   0
335.0    31        Maserati Bora  15.0    8  301.0  3.54  3.570  14.60   0
109.0    32           Volvo 142E  21.4    4  121.0  4.11  2.780  18.60   1

       am  gear  carb
hp
110.0   1     4     4
110.0   1     4     4
93.0    1     4     1
110.0   0     3     1
175.0   0     3     2
105.0   0     3     1
245.0   0     3     4
62.0    0     4     2
NaN     0     4     2
123.0   0     4     4
123.0   0     4     4
180.0   0     3     3
180.0   0     3     3
180.0   0     3     3
NaN     0     3     4
215.0   0     3     4
230.0   0     3     4
66.0    1     4     1
52.0    1     4     2
65.0    1     4     1
97.0    0     3     1
150.0   0     3     2
150.0   0     3     2
245.0   0     3     4
175.0   0     3     2
66.0    1     4     1
91.0    1     5     2
113.0   1     5     2
264.0   1     5     4
175.0   1     5     6
335.0   1     5     8
109.0   1     4     2

In [10]:
new_df.loc[110]  # gets all new_df value where 110 is used

,S.No,name,mpg,cyl,disp,drat,wt,qsec,vs,am,gear,carb
hp,,,,,,,,,,,,
110.0,1,Mazda RX4,21.0,6,160.0,3.90,2.620,16.46,0,1,4,4
110.0,2,Mazda RX4 Wag,21.0,6,160.0,3.90,2.875,17.02,0,1,4,4
110.0,4,Hornet 4 Drive,21.4,6,258.0,3.08,3.215,19.44,1,0,3,1

In [ ]:
# Both the below lines means the same. We can write either way

df=df.set_index('hp')
df.set_index('hp', inplace = True)

In [11]:
df.reset_index(inplace=True) # It resets to original dataframe

In [16]:
print(df['hp'].max())
print(df['hp'].min())
print(df['hp'].mean())
print(df['hp'].median())
print(df['hp'].count())  # There is one empty data so it is giving 30 instead of 32

335.0
52.0
146.46666666666667
123.0
30

# Describe  -> Gives all the data properties in single statement

In [17]:
df.describe()

,index,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,30.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.0000
mean,15.500000,16.500000,20.090625,6.187500,230.721875,146.466667,3.596563,3.217250,17.674828,0.437500,0.406250,3.687500,2.8125
std,9.380832,9.380832,6.026948,1.785922,123.938694,69.394789,0.534679,0.978457,1.780394,0.504016,0.498991,0.737804,1.6152
min,0.000000,1.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,7.750000,8.750000,15.425000,4.000000,120.825000,99.000000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,15.500000,16.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,23.250000,24.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.600000,1.000000,1.000000,4.000000,4.0000
max,31.000000,32.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [18]:
df

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
9,9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

### Sort

In [20]:
df.sort_values('name')

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
14,14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
23,23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
16,16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
21,21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
6,6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
29,29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
17,17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
25,25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
28,28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
18,18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
15,15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
27,27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
30,30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
8,8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
7,7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
9,9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
24,24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
26,26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
19,19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
5,5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
31,31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [24]:
df.sort_values('name',ascending=True) # By default
df.sort_values('name',ascending=False)  # For descending

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
31,31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2
5,5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
20,20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
19,19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
26,26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
24,24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
13,13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
12,12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
11,11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
10,10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
9,9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
7,7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
30,30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
27,27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
15,15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
18,18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
28,28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
25,25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
17,17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
29,29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
6,6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
21,21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
16,16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
23,23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
14,14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
22,22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2

In [22]:
# Sort based on cyl first and the name

df.sort_values(['cyl','name'])

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
17,17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
25,25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
18,18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
27,27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
8,8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
7,7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
26,26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
19,19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
31,31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2
29,29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
9,9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
5,5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
22,22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
14,14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
23,23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
16,16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
21,21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
6,6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
28,28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
15,15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
30,30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
11,11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
24,24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2

In [25]:
df.sort_values(['cyl','name'],ascending=True) # Default
df.sort_values(['cyl','name'],ascending=False)  #both in descending

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
24,24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
13,13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
12,12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
11,11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
30,30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
15,15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
28,28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
6,6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
21,21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
16,16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
23,23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
14,14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
22,22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
5,5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
10,10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
9,9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
29,29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
31,31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2
20,20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
19,19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
26,26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
7,7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
27,27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
18,18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
25,25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
17,17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1

In [30]:
df.sort_values(['cyl','name'],ascending=[True,False]) # different val for cyl and name

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
31,31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2
20,20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
19,19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
26,26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
7,7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
27,27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
18,18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
25,25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
17,17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
5,5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
10,10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
9,9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
29,29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
24,24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
13,13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
12,12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
11,11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
30,30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
15,15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
28,28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
6,6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
21,21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
16,16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
23,23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
14,14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
22,22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2

In [29]:
df.sort_values(['cyl','name'],ascending=[True,False],ignore_index=True) # different val for cyl and name

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2
1,20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
2,19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
3,26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
4,7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
5,8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
6,27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
7,18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
8,25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
9,17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
10,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
11,5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
12,10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
13,9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
14,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
15,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
16,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
17,29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
18,24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
19,13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
20,12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
21,11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
22,30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
23,15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
24,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
25,28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
26,6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
27,21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
28,16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
29,23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
30,14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
31,22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2

In [21]:
df.sort_index(1)

C:\Users\LPT-3036\AppData\Local\Temp\ipykernel_3616\2025576647.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_index will be keyword-only.
  df.sort_index(1)

,S.No,am,carb,cyl,disp,drat,gear,hp,index,mpg,name,qsec,vs,wt
0,1,1,4,6,160.0,3.90,4,110.0,0,21.0,Mazda RX4,16.46,0,2.620
1,2,1,4,6,160.0,3.90,4,110.0,1,21.0,Mazda RX4 Wag,17.02,0,2.875
2,3,1,1,4,108.0,3.85,4,93.0,2,22.8,Datsun 710,18.61,1,2.320
3,4,0,1,6,258.0,3.08,3,110.0,3,21.4,Hornet 4 Drive,19.44,1,3.215
4,5,0,2,8,360.0,3.15,3,175.0,4,18.7,Hornet Sportabout,17.02,0,3.440
5,6,0,1,6,225.0,2.76,3,105.0,5,18.1,Valiant,NaN,1,3.460
6,7,0,4,8,360.0,3.21,3,245.0,6,14.3,Duster 360,15.84,0,3.570
7,8,0,2,4,146.7,3.69,4,62.0,7,24.4,Merc 240D,20.00,1,3.190
8,9,0,2,4,140.8,3.92,4,NaN,8,22.8,Merc 230,22.90,1,3.150
9,10,0,4,6,167.6,3.92,4,123.0,9,19.2,Merc 280,18.30,1,3.440
10,11,0,4,6,167.6,3.92,4,123.0,10,17.8,Merc 280C,18.90,1,3.440
11,12,0,3,8,275.8,3.07,3,180.0,11,16.4,Merc 450SE,17.40,0,4.070
12,13,0,3,8,275.8,3.07,3,180.0,12,17.3,Merc 450SL,17.60,0,3.730
13,14,0,3,8,275.8,3.07,3,180.0,13,15.2,Merc 450SLC,18.00,0,3.780
14,15,0,4,8,472.0,2.93,3,NaN,14,10.4,Cadillac Fleetwood,17.98,0,5.250
15,16,0,4,8,460.0,3.00,3,215.0,15,10.4,Lincoln Continental,17.82,0,5.424
16,17,0,4,8,440.0,3.23,3,230.0,16,14.7,Chrysler Imperial,17.42,0,5.345
17,18,1,1,4,78.7,4.08,4,66.0,17,32.4,Fiat 128,NaN,1,2.200
18,19,1,2,4,75.7,4.93,4,52.0,18,30.4,Honda Civic,18.52,1,1.615
19,20,1,1,4,71.1,4.22,4,65.0,19,33.9,Toyota Corolla,19.90,1,1.835
20,21,0,1,4,120.1,3.70,3,97.0,20,21.5,Toyota Corona,20.01,1,2.465
21,22,0,2,8,318.0,2.76,3,150.0,21,15.5,Dodge Challenger,16.87,0,3.520
22,23,0,2,8,304.0,3.15,3,150.0,22,15.2,AMC Javelin,17.30,0,3.435
23,24,0,4,8,350.0,3.73,3,245.0,23,13.3,Camaro Z28,15.41,0,3.840
24,25,0,2,8,400.0,3.08,3,175.0,24,19.2,Pontiac Firebird,17.05,0,3.845
25,26,1,1,4,79.0,4.08,4,66.0,25,27.3,Fiat X1-9,NaN,1,1.935
26,27,1,2,4,120.3,4.43,5,91.0,26,26.0,Porsche 914-2,16.70,0,2.140
27,28,1,2,4,95.1,3.77,5,113.0,27,30.4,Lotus Europa,16.90,1,1.513
28,29,1,4,8,351.0,4.22,5,264.0,28,15.8,Ford Pantera L,14.50,0,3.170
29,30,1,6,6,145.0,3.62,5,175.0,29,19.7,Ferrari Dino,15.50,0,2.770
30,31,1,8,8,301.0,3.54,5,335.0,30,15.0,Maserati Bora,14.60,0,3.570
31,32,1,2,4,121.0,4.11,4,109.0,31,21.4,Volvo 142E,18.60,1,2.780

# RENAME COLUMN

In [31]:
df.head()

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2

In [32]:
df.rename(columns={"cyl":"cylinder"})

,index,S.No,name,mpg,cylinder,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
9,9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [36]:
## Add new column based on prev columns

df['power']=df['hp']*df['qsec']
df.head()

,index,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,power
0,0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4,1810.60
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4,1872.20
2,2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1,1730.73
3,3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1,2138.40
4,4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2,2978.50

In [51]:
# Drop a column

# df.drop(columns='S.No')
# df.drop(columns=['S.No','drat'],inplace=True)
df.drop(columns=['name','cyl'],inplace=True)
df.head()

   index   mpg   disp     hp     wt   qsec  vs  am  gear  carb    power
0      0  21.0  160.0  110.0  2.620  16.46   0   1     4     4  1810.60
1      1  21.0  160.0  110.0  2.875  17.02   0   1     4     4  1872.20
2      2  22.8  108.0   93.0  2.320  18.61   1   1     4     1  1730.73
3      3  21.4  258.0  110.0  3.215  19.44   1   0     3     1  2138.40
4      4  18.7  360.0  175.0  3.440  17.02   0   0     3     2  2978.50

In [59]:
df.reset_index()

,level_0,index,mpg,disp,hp,wt,qsec,vs,am,gear,carb,power
0,0,0,21.0,160.0,110.0,2.620,16.46,0,1,4,4,1810.60
1,1,1,21.0,160.0,110.0,2.875,17.02,0,1,4,4,1872.20
2,2,2,22.8,108.0,93.0,2.320,18.61,1,1,4,1,1730.73
3,3,3,21.4,258.0,110.0,3.215,19.44,1,0,3,1,2138.40
4,4,4,18.7,360.0,175.0,3.440,17.02,0,0,3,2,2978.50
5,5,5,18.1,225.0,105.0,3.460,0.00,1,0,3,1,0.00
6,6,6,14.3,360.0,245.0,3.570,15.84,0,0,3,4,3880.80
7,7,7,24.4,146.7,62.0,3.190,20.00,1,0,4,2,1240.00
8,8,8,22.8,140.8,0.0,3.150,22.90,1,0,4,2,0.00
9,9,9,19.2,167.6,123.0,3.440,18.30,1,0,4,4,2250.90
10,10,10,17.8,167.6,123.0,3.440,18.90,1,0,4,4,2324.70
11,11,11,16.4,275.8,180.0,4.070,17.40,0,0,3,3,3132.00
12,12,12,17.3,275.8,180.0,3.730,17.60,0,0,3,3,3168.00
13,13,13,15.2,275.8,180.0,3.780,18.00,0,0,3,3,3240.00
14,14,14,10.4,472.0,0.0,5.250,17.98,0,0,3,4,0.00
15,15,15,10.4,460.0,215.0,5.424,17.82,0,0,3,4,3831.30
16,16,16,14.7,440.0,230.0,5.345,17.42,0,0,3,4,4006.60
17,17,17,32.4,78.7,66.0,2.200,0.00,1,1,4,1,0.00
18,18,18,30.4,75.7,52.0,1.615,18.52,1,1,4,2,963.04
19,19,19,33.9,71.1,65.0,1.835,19.90,1,1,4,1,1293.50
20,20,20,21.5,120.1,97.0,2.465,20.01,1,0,3,1,1940.97
21,21,21,15.5,318.0,150.0,3.520,16.87,0,0,3,2,2530.50
22,22,22,15.2,304.0,150.0,3.435,17.30,0,0,3,2,2595.00
23,23,23,13.3,350.0,245.0,3.840,15.41,0,0,3,4,3775.45
24,24,24,19.2,400.0,175.0,3.845,17.05,0,0,3,2,2983.75
25,25,25,27.3,79.0,66.0,1.935,0.00,1,1,4,1,0.00
26,26,26,26.0,120.3,91.0,2.140,16.70,0,1,5,2,1519.70
27,27,27,30.4,95.1,113.0,1.513,16.90,1,1,5,2,1909.70
28,28,28,15.8,351.0,264.0,3.170,14.50,0,1,5,4,3828.00
29,29,29,19.7,145.0,175.0,2.770,15.50,0,1,5,6,2712.50
30,30,30,15.0,301.0,335.0,3.570,14.60,0,1,5,8,4891.00
31,31,31,21.4,121.0,109.0,2.780,18.60,1,1,4,2,2027.40

In [54]:
# Save the current data in new CSV file

df.to_csv('new_csv.csv')

In [53]:
pwd

'C:\\Users\\LPT-3036\\Assignment'

In [58]:
# Cleaning of DATA

df.fillna(0,inplace=True)  # replaces NaN by 0
df

    index   mpg   disp     hp     wt   qsec  vs  am  gear  carb    power
0       0  21.0  160.0  110.0  2.620  16.46   0   1     4     4  1810.60
1       1  21.0  160.0  110.0  2.875  17.02   0   1     4     4  1872.20
2       2  22.8  108.0   93.0  2.320  18.61   1   1     4     1  1730.73
3       3  21.4  258.0  110.0  3.215  19.44   1   0     3     1  2138.40
4       4  18.7  360.0  175.0  3.440  17.02   0   0     3     2  2978.50
5       5  18.1  225.0  105.0  3.460   0.00   1   0     3     1     0.00
6       6  14.3  360.0  245.0  3.570  15.84   0   0     3     4  3880.80
7       7  24.4  146.7   62.0  3.190  20.00   1   0     4     2  1240.00
8       8  22.8  140.8    0.0  3.150  22.90   1   0     4     2     0.00
9       9  19.2  167.6  123.0  3.440  18.30   1   0     4     4  2250.90
10     10  17.8  167.6  123.0  3.440  18.90   1   0     4     4  2324.70
11     11  16.4  275.8  180.0  4.070  17.40   0   0     3     3  3132.00
12     12  17.3  275.8  180.0  3.730  17.60   0   0     3     3  3168.00
13     13  15.2  275.8  180.0  3.780  18.00   0   0     3     3  3240.00
14     14  10.4  472.0    0.0  5.250  17.98   0   0     3     4     0.00
15     15  10.4  460.0  215.0  5.424  17.82   0   0     3     4  3831.30
16     16  14.7  440.0  230.0  5.345  17.42   0   0     3     4  4006.60
17     17  32.4   78.7   66.0  2.200   0.00   1   1     4     1     0.00
18     18  30.4   75.7   52.0  1.615  18.52   1   1     4     2   963.04
19     19  33.9   71.1   65.0  1.835  19.90   1   1     4     1  1293.50
20     20  21.5  120.1   97.0  2.465  20.01   1   0     3     1  1940.97
21     21  15.5  318.0  150.0  3.520  16.87   0   0     3     2  2530.50
22     22  15.2  304.0  150.0  3.435  17.30   0   0     3     2  2595.00
23     23  13.3  350.0  245.0  3.840  15.41   0   0     3     4  3775.45
24     24  19.2  400.0  175.0  3.845  17.05   0   0     3     2  2983.75
25     25  27.3   79.0   66.0  1.935   0.00   1   1     4     1     0.00
26     26  26.0  120.3   91.0  2.140  16.70   0   1     5     2  1519.70
27     27  30.4   95.1  113.0  1.513  16.90   1   1     5     2  1909.70
28     28  15.8  351.0  264.0  3.170  14.50   0   1     5     4  3828.00
29     29  19.7  145.0  175.0  2.770  15.50   0   1     5     6  2712.50
30     30  15.0  301.0  335.0  3.570  14.60   0   1     5     8  4891.00
31     31  21.4  121.0  109.0  2.780  18.60   1   1     4     2  2027.40

In [67]:
df=pd.read_csv('mtcars.csv')
df

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,NaN,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [74]:
# if there is NaN in name then fillna  will add 0 to that also so alternate is--
df=df.fillna({
    'name':'no-name',
    'qsec':'1',
    'hp':0,
    'cyl':df['cyl'].mean()
})

In [75]:
df

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,1,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.0,1,0,4,2
8,9,Merc 230,22.8,4,140.8,0.0,3.92,3.150,22.9,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.3,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.9,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.4,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.6,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.0,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,0.0,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,1,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.9,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.3,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,1,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.7,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.6,1,1,4,2

# Method 2 of data cleaning

In [77]:
df=pd.read_csv('mtcars.csv')
df

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,NaN,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,NaN,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,NaN,22.8,4,NaN,NaN,3.92,3.150,22.90,1,0,4,2
9,10,NaN,19.2,6,NaN,NaN,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,NaN,NaN,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [79]:
df.fillna(method='ffill')  # forward fill.
# for NaN, it replaces it by its preceding values

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,17.02,1,0,3,1
6,7,Valiant,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,Valiant,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,Valiant,22.8,4,146.7,62.0,3.92,3.150,22.90,1,0,4,2
9,10,Valiant,19.2,6,146.7,62.0,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,146.7,62.0,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,180.0,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,17.42,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,17.05,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [80]:
df.fillna(method='ffill',limit=2)  # If 3 consecutive NaN, then it will fill only 2 by its preceding val

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,17.02,1,0,3,1
6,7,Valiant,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,Valiant,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,NaN,22.8,4,146.7,62.0,3.92,3.150,22.90,1,0,4,2
9,10,NaN,19.2,6,146.7,62.0,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,NaN,NaN,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,180.0,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,17.42,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,17.05,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [81]:
df.fillna(method='bfill',limit=2)  # Backward Fill
#If 3 consecutive NaN, then it will fill only 2 by its next val

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,15.84,1,0,3,1
6,7,NaN,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,NaN,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,Merc 280C,22.8,4,NaN,NaN,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280C,19.2,6,275.8,180.0,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,275.8,180.0,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,215.0,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,18.52,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,16.70,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [82]:
df.interpolate()  # (next val - prev val)/number of NaN ---- It adds this number to previous val.

# When to use - When numbers are in increasing or decreasing pattern

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.000,110.0,3.90,2.620,16.460,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.000,110.0,3.90,2.875,17.020,0,1,4,4
2,3,Datsun 710,22.8,4,108.000,93.0,3.85,2.320,18.610,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.000,110.0,3.08,3.215,19.440,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.000,175.0,3.15,3.440,17.020,0,0,3,2
5,6,Valiant,18.1,6,225.000,105.0,2.76,3.460,16.430,1,0,3,1
6,7,NaN,14.3,8,360.000,245.0,3.21,3.570,15.840,0,0,3,4
7,8,NaN,24.4,4,146.700,62.0,3.69,3.190,20.000,1,0,4,2
8,9,NaN,22.8,4,178.975,91.5,3.92,3.150,22.900,1,0,4,2
9,10,NaN,19.2,6,211.250,121.0,3.92,3.440,18.300,1,0,4,4
10,11,Merc 280C,17.8,6,243.525,150.5,3.92,3.440,18.900,1,0,4,4
11,12,Merc 450SE,16.4,8,275.800,180.0,3.07,4.070,17.400,0,0,3,3
12,13,Merc 450SL,17.3,8,275.800,180.0,3.07,3.730,17.600,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.800,180.0,3.07,3.780,18.000,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.000,197.5,2.93,5.250,17.980,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.000,215.0,3.00,5.424,17.820,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.000,230.0,3.23,5.345,17.420,0,0,3,4
17,18,Fiat 128,32.4,4,78.700,66.0,4.08,2.200,17.970,1,1,4,1
18,19,Honda Civic,30.4,4,75.700,52.0,4.93,1.615,18.520,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.100,65.0,4.22,1.835,19.900,1,1,4,1
20,21,Toyota Corona,21.5,4,120.100,97.0,3.70,2.465,20.010,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.000,150.0,2.76,3.520,16.870,0,0,3,2
22,23,AMC Javelin,15.2,8,304.000,150.0,3.15,3.435,17.300,0,0,3,2
23,24,Camaro Z28,13.3,8,350.000,245.0,3.73,3.840,15.410,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.000,175.0,3.08,3.845,17.050,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.000,66.0,4.08,1.935,16.875,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.300,91.0,4.43,2.140,16.700,0,1,5,2
27,28,Lotus Europa,30.4,4,95.100,113.0,3.77,1.513,16.900,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.000,264.0,4.22,3.170,14.500,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.000,175.0,3.62,2.770,15.500,0,1,5,6
30,31,Maserati Bora,15.0,8,301.000,335.0,3.54,3.570,14.600,0,1,5,8
31,32,Volvo 142E,21.4,4,121.000,109.0,4.11,2.780,18.600,1,1,4,2

In [83]:
# Case - Dont include NaN vals. Drop those rows
df.dropna()# see 5-12 data is missing

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [85]:
df.dropna(how='all')

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,NaN,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,NaN,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,NaN,22.8,4,NaN,NaN,3.92,3.150,22.90,1,0,4,2
9,10,NaN,19.2,6,NaN,NaN,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,NaN,NaN,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [87]:
df.dropna(thresh=3)  # if there are more than 3 values present then only include this row. If all are NaN then it will remove that row
#or it has 1 val and rest are NaN, it will drop that row

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,NaN,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,NaN,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,NaN,22.8,4,NaN,NaN,3.92,3.150,22.90,1,0,4,2
9,10,NaN,19.2,6,NaN,NaN,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,NaN,NaN,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [89]:
df.replace('NaN',0)  # replace all nan by 0

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,NaN,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,NaN,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,NaN,22.8,4,NaN,NaN,3.92,3.150,22.90,1,0,4,2
9,10,NaN,19.2,6,NaN,NaN,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,NaN,NaN,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [91]:
df.replace([0,1],100) # everywhere there is 0 and 1 it will replace }with 100

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,100,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,100,100,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,100,100,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,100,100,4,100
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,100,100,3,100
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,100,100,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,100,100,3,100
6,7,NaN,14.3,8,360.0,245.0,3.21,3.570,15.84,100,100,3,4
7,8,NaN,24.4,4,146.7,62.0,3.69,3.190,20.00,100,100,4,2
8,9,NaN,22.8,4,NaN,NaN,3.92,3.150,22.90,100,100,4,2
9,10,NaN,19.2,6,NaN,NaN,3.92,3.440,18.30,100,100,4,4
10,11,Merc 280C,17.8,6,NaN,NaN,3.92,3.440,18.90,100,100,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,100,100,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,100,100,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,100,100,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,100,100,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,100,100,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,100,100,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,100,100,4,100
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,100,100,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,100,100,4,100
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,100,100,3,100
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,100,100,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,100,100,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,100,100,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,100,100,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,100,100,4,100
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,100,100,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,100,100,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,100,100,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,100,100,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,100,100,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,100,100,4,2

In [92]:
import numpy as np
df.replace({
    'vs':0,
    'am':1
},'NaN')

,S.No,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,NaN,NaN,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,NaN,NaN,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,NaN,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,NaN,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,NaN,14.3,8,360.0,245.0,3.21,3.570,15.84,NaN,0,3,4
7,8,NaN,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,NaN,22.8,4,NaN,NaN,3.92,3.150,22.90,1,0,4,2
9,10,NaN,19.2,6,NaN,NaN,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,NaN,NaN,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,NaN,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,NaN,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,NaN,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,NaN,2.93,5.250,17.98,NaN,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,NaN,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230.0,3.23,5.345,17.42,NaN,0,3,4
17,18,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,NaN,1,NaN,4,1
18,19,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,NaN,4,2
19,20,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,NaN,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,NaN,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,NaN,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,NaN,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,NaN,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,NaN,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,NaN,NaN,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,NaN,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,NaN,NaN,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,NaN,NaN,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,NaN,NaN,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,NaN,4,2