# Python Basics Assignment

### 1. Using Python script as a calculator

In [13]:
n,r,p=10,5,100

expression = lambda n,r,p:p*(1+r/100)**n
expression(n,r,p)

162.8894626777442

#### Ans is B. 162.89

### 2.In a given string format operation, how will you print the given string

In [17]:
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(A,B))

There are 10 students in the class, with 20 who play at least one sport.

In [20]:
print(Str+str(A)+str(B))

There are {} students in the class, with {} who play at least one sport.1020

In [21]:
print(Str.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

#### Ans. is c. print(string.format(b,a))

### 3. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?

#### Ans is a. print("It goes without saying, \"Time is Money\", and none can deny it.")

### 4.What will be the output of the following code?

In [24]:
x = lambda a,b: a//b
x(10,3)

3

#### Ans is b. 3

### 5. What will be the output of the following code? A = 10 B = 12 print("Smaller") if A == B else print("Greater") if A < B else print("True")

In [27]:
A = 10 
B = 12
if A == B:
    print("Smaller")
elif A < B: 
    print("Greater") 
else:
    print("True")

Greater

#### Ans is c. Greater

### Q6. What will be the output of the following code?

#### Ans. is c. NameError: name 'numpy' is not defined

### Q7. Create a string called ‘string’ with the value as “Machine Learning”. Which code(s) is/are appropriate to slice the substring “Learn”?

In [16]:
string = "Machine Learning"
string[slice(8,13,3)]
string[8:13:2]

'Lan'

#### Ans is d. string[slice(8,13,1)]

### 8.Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?

In [1]:
x=list(range(10,25,4))
print(x)

[10, 14, 18, 22]

In [4]:
x.index(18)

2

#### Ans is b. 2

### Q9. Which of the following is true with respect to the below codes?

In [7]:
num1 = 5**4
num2= pow(5,4)
print(num1,num2)

625 625

#### Ans is a. num1 = num2

### Q10.A Python NameError exception is raised when:

In [10]:
'''a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported
'''

'a. Trying to access a variable which has not been defined\nb. Trying to access a key in a dictionary that does not exist\nc. Accessing a column with misspelled column name\nd. Accessing the function from a module that has not been imported\n'

#### Ans is a. Trying to access a variable which has not been defined

### Q11.What type of exception will be raised for the code given below?

x="string"
int(x)

#### Ans is c. ValueError

### Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory

#### Ans is b. A file or directory is requested but does not exist in the working directory

### Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is

#### Ans is b. Character

### Q14.Which of the following variable(s) are character data type?
a. K= “4”
b. J= “Welcome”
c. L= “?”
d. All of the above

#### Ans is d. All of the above

### Q15.Choose the symbol/s that does not have the ability to convert any values to string?

In [29]:
s = 'Hello World!'

print("Using() : ",str(s))##a. ( )
print("Using double inverts: ","ABC")##b. “ ”
print("Using{} : ",f"Testing {s} successful")##c. {}
##   d. #

Using() :  Hello World!
Using double inverts:  ABC
Using{} :  Testing Hello World! successful
Using() :  Hello World!

#### Ans is d.#

### Q16.Create a dictionary ‘Country’ that maps the following countries to their capitals respectively:

In [30]:
Country = dict()

In [33]:
Country['India'] = 'Delhi'

In [38]:
Country['China'] = 'Tokyo'
Country['Japan'] = 'Beijing'
Country['Qatar'] = 'Doha'
Country.update({'France':'Marseilles'})

In [51]:
Country

{'India': 'Delhi',
 'China': 'Tokyo',
 'Japan': 'Beijing',
 'Qatar': 'Doha',
 'France': 'Marseilles'}

In [40]:
Country.update({'Marseilles':'Paris'})

In [50]:
del Country['Marseilles']

In [53]:
Country.update(France='Paris')     #METHOD 1

In [54]:
Country

{'India': 'Delhi',
 'China': 'Tokyo',
 'Japan': 'Beijing',
 'Qatar': 'Doha',
 'France': 'Paris'}

In [56]:
Country['France']

'Paris'

In [57]:
Country['France']='Marseilles'          # METHOD 2

In [59]:
Country

{'India': 'Delhi',
 'China': 'Tokyo',
 'Japan': 'Beijing',
 'Qatar': 'Doha',
 'France': 'Marseilles'}

In [60]:
Country['France']='Paris'

In [61]:
Country

{'India': 'Delhi',
 'China': 'Tokyo',
 'Japan': 'Beijing',
 'Qatar': 'Doha',
 'France': 'Paris'}

### Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.

In [1]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

In [2]:
sum(tuple_1)

27

In [3]:
len(tuple_2)

3

In [4]:
tuple_2 + tuple_1

(8, 9, 4, 1, 5, 6, 7, 8)

In [5]:
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

#### Ans is d. tuple_1[3] = 45

### Q18.How many elements in the following data structure?

S={1,2,3,4,4,4,5,6}

#### Ans is 6 (eleminiating repeated elements bcoz Sets does not add repeated elements(4))

### Q19.Function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [9]:
limit=int(input("Enter upper limit:"))
c=0
m=0
while(c<limit):
    
    for n in range(1,m+1): 
       
        a=m*m-n*n 
        b=2*m*n  
        c=m*m+n*n  
        
        if(c>limit):
            break
        if(a==0 or b==0 or c==0):
            break
        
        print(a,b,c)
    m=m+1 # 8 15 17

Enter upper limit:20
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20