In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df=pd.read_csv("Sport car price.csv")

In [28]:
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"

In [29]:
df.shape

(1007, 8)

In [30]:
df[df['Horsepower'].str.contains(',')]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
364,Tesla,Roadster,2023,Electric,"1,000+",737,< 1.9,"200,000"
885,Tesla,Roadster,2022,0,"10,000","7,376",1.9,"200,000"
898,Bugatti,Chiron,2021,8,"1,500","1,180",2.4,"3,000,000"
916,Tesla,Roadster,2022,NaN,"10,000+",NaN,1.9,"200,000"
965,Tesla,Model S Plaid,2022,Electric,"1,020","1,050",1.9,"141,190"

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   object
 5   Torque (lb-ft)           1004 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   object
dtypes: int64(1), object(7)
memory usage: 63.1+ KB

In [32]:
df.isnull().sum()

Car Make                    0
Car Model                   0
Year                        0
Engine Size (L)            10
Horsepower                  0
Torque (lb-ft)              3
0-60 MPH Time (seconds)     0
Price (in USD)              0
dtype: int64

In [33]:
df["Engine Size (L)"].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', 'Electric', '6.5', '3.7', 'Electric Motor',
       '2.5', '1.5 + Electric', '6.8', '8.4', nan, '6.6', '7', '1.7',
       '3.3', '-', '6.7', '1.8', 'Electric (tri-motor)', '5.5',
       'Electric (93 kWh)', 'Electric (100 kWh)', 'Hybrid (4.0)', '4.6',
       '3.6', '1.5', 'Hybrid', '5.7', '2.0 (Electric)', '4.0 (Hybrid)',
       '0', '6.4', '6.3', '2.3'], dtype=object)

In [34]:
df["Engine Size (L)"]

0                    3
1                  5.2
2                  3.9
3                  5.2
4                    4
             ...
1002                 5
1003    Electric Motor
1004                 4
1005                 6
1006    Electric Motor
Name: Engine Size (L), Length: 1007, dtype: object

In [35]:
df["Horsepower"].unique()

array(['379', '630', '661', '562', '710', '617', '523', '490', '760',
       '600', '1500', '717', '296', '1280', '471', '416', '454', '300',
       '505', '320', '626', '671', '622', '720', '1914', '414', '759',
       '986', '591', '503', '650', '660', '350', '641', '611', '394',
       '612', '369', '603', '455', '460', '325', '349', '592', '444',
       '405', '797', '770', '332', '473', '480', '573', '380', '1600',
       '181', '620', '764', '624', '1000+', '382', '800', '715', '690',
       '730', '469', '365', '401', '645', '435', '1020', '500', '780',
       '750', '402', '575', '729', '789', '577', '495', '237', '310',
       '791', '1874', '542', '368', '616', '1479', '755', '1,000+', '288',
       '1888', '10000+', '482', '1973', '1262', '1035', '819', '385',
       '647', '1200', '1578', '625', '583', '429', '563', '400', '707',
       '887', '1972', '305', '640', '255', '689', '372', '1000', '2000',
       '550', '10,000', '1,500', '10,000+', '485', '1,020', '1872', '621'],
      dtype=object)

In [36]:
df["Horsepower"]=df["Horsepower"].str.replace(",","")
df["Horsepower"]=df["Horsepower"].str.replace("+","")

C:\Users\LPT-3036\AppData\Local\Temp\ipykernel_8108\3489465295.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Horsepower"]=df["Horsepower"].str.replace("+","")

In [37]:
df["Horsepower"].unique()

array(['379', '630', '661', '562', '710', '617', '523', '490', '760',
       '600', '1500', '717', '296', '1280', '471', '416', '454', '300',
       '505', '320', '626', '671', '622', '720', '1914', '414', '759',
       '986', '591', '503', '650', '660', '350', '641', '611', '394',
       '612', '369', '603', '455', '460', '325', '349', '592', '444',
       '405', '797', '770', '332', '473', '480', '573', '380', '1600',
       '181', '620', '764', '624', '1000', '382', '800', '715', '690',
       '730', '469', '365', '401', '645', '435', '1020', '500', '780',
       '750', '402', '575', '729', '789', '577', '495', '237', '310',
       '791', '1874', '542', '368', '616', '1479', '755', '288', '1888',
       '10000', '482', '1973', '1262', '1035', '819', '385', '647',
       '1200', '1578', '625', '583', '429', '563', '400', '707', '887',
       '1972', '305', '640', '255', '689', '372', '2000', '550', '485',
       '1872', '621'], dtype=object)

In [38]:
df["Horsepower"]=df["Horsepower"].astype(int)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   int32
 5   Torque (lb-ft)           1004 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   object
dtypes: int32(1), int64(1), object(6)
memory usage: 59.1+ KB

In [40]:
df["Torque (lb-ft)"].unique()

array(['331', '443', '561', '406', '568', '553', '494', '465', '625',
       '481', '516', '1180', '656', '295', '1015', '398', '317', '384',
       '280', '243', '664', '531', '468', '737', '738', '1696', '309',
       '590', '479', '650', '550', '276', '626', '369', '420', '627',
       '455', '505', '560', '457', '707', '270', '354', '476', '339',
       '1106', '151', '605', '368', '723', '642', '509', '604', '507',
       '513', '600', '440', '1050', '708', '774', '254', '663', '332',
       '530', '470', '258', '290', '413', '1732', '376', '-', '10,000+',
       '236', '0', '472', '1254', '848', '1300', '442', '641', '498',
       '350', nan, '944', '268', '184', '400', '263', '7,376', '1,180',
       '475', '1,050', '740', '538'], dtype=object)

In [41]:
df["Torque (lb-ft)"]=df["Torque (lb-ft)"].replace("-",np.nan)
df["Torque (lb-ft)"]=df["Torque (lb-ft)"].str.replace(",","")
df["Torque (lb-ft)"]=df["Torque (lb-ft)"].str.replace("+","")

C:\Users\LPT-3036\AppData\Local\Temp\ipykernel_8108\1727543719.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Torque (lb-ft)"]=df["Torque (lb-ft)"].str.replace("+","")

In [42]:
df["Torque (lb-ft)"].unique()

array(['331', '443', '561', '406', '568', '553', '494', '465', '625',
       '481', '516', '1180', '656', '295', '1015', '398', '317', '384',
       '280', '243', '664', '531', '468', '737', '738', '1696', '309',
       '590', '479', '650', '550', '276', '626', '369', '420', '627',
       '455', '505', '560', '457', '707', '270', '354', '476', '339',
       '1106', '151', '605', '368', '723', '642', '509', '604', '507',
       '513', '600', '440', '1050', '708', '774', '254', '663', '332',
       '530', '470', '258', '290', '413', '1732', '376', nan, '10000',
       '236', '0', '472', '1254', '848', '1300', '442', '641', '498',
       '350', '944', '268', '184', '400', '263', '7376', '475', '740',
       '538'], dtype=object)

In [43]:
np.nan

nan

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   int32
 5   Torque (lb-ft)           1003 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   object
dtypes: int32(1), int64(1), object(6)
memory usage: 59.1+ KB

In [45]:
df["Price (in USD)"].unique()

array(['101,200', '274,390', '333,750', '142,700', '298,000', '130,000',
       '118,500', '59,900', '81,000', '212,000', '201,495', '3,000,000',
       '61,000', '70,100', '2,800,000', '92,950', '104,450', '150,000',
       '62,000', '78,000', '75,000', '225,000', '248,000', '155,000',
       '2,400,000', '100,200', '517,770', '625,000', '117,000', '72,800',
       '222,000', '64,695', '500,000', '45,690', '104,000', '218,000',
       '57,000', '210,000', '148,500', '132,000', '58,900', '518,000',
       '56,200', '192,500', '71,800', '68,000', '42,500', '39,000',
       '46,100', '142,100', '105,000', '87,200', '52,500', '241,000',
       '103,500', '146,000', '75,400', '42,900', '78,595', '62,750',
       '417,826', '150,980', '30,090', '88,700', '67,600', '274,280',
       '52,915', '218,009', '159,495', '142,086', '219,800', '74,290',
       '71,900', '134,300', '26,830', '213,195', '221,580', '100,550',
       '330,000', '200,000', '43,090', '1,700,000', '60,500', '522,000',
       '67,000', '212,500', '64,000', '31,015', '304,995', '190,000',
       '115,000', '59,000', '102,100', '220,300', '114,000', '239,100',
       '62,500', '65,290', '219,750', '187,700', '222,004', '71,350',
       '68,900', '276,550', '63,700', '44,000', '51,720', '45,790',
       '88,550', '222,620', '84,595', '77,500', '157,500', '204,100',
       '120,000', '69,900', '105,950', '204,550', '2,700,000', '102,900',
       '1,000,000', '131,190', '123,500', '3,400,000', '61,500',
       '507,000', '109,000', '228,000', '42,000', '45,000', '185,000',
       '56,000', '191,000', '81,250', '517,700', '242,500', '77,000',
       '76,000', '103,200', '177,700', '417,650', '115,045', '256,500',
       '59,895', '152,500', '69,995', '363,730', '183,300', '73,795',
       '183,000', '60,995', '207,000', '203,825', '99,800', '67,150',
       '77,250', '71,490', '150,400', '47,820', '38,170', '102,000',
       '393,695', '218,750', '40,590', '52,720', '174,300', '67,895',
       '62,290', '93,050', '75,100', '64,195', '211,000', '275,000',
       '2,998,000', '573,966', '3,500,000', '2,500,000', '70,000',
       '61,600', '52,200', '100,450', '102,550', '76,400', '69,000',
       '247,500', '79,900', '119,000', '307,820', '207,825', '202,500',
       '63,000', '96,950', '358,000', '30,000', '2,600,000', '180,000',
       '131,100', '82,190', '76,950', '132,795', '215,500', '80,900',
       '40,000', '209,000', '67,500', '104,200', '133,050', '196,350',
       '338,000', '218,400', '73,000', '104,970', '132,400', '71,500',
       '118,795', '240,000', '221,400', '64,100', '81,550', '62,250',
       '92,000', '141,190', '64,995', '126,190', '205,000', '75,695',
       '2,750,000', '326,050', '102,500', '44,500', '51,000', '2,300,000',
       '3,600,000', '215,000', '36,120', '220,000', '280,000', '208,800',
       '229,000', '46,200', '71,000', '308,000', '80,500', '105,900',
       '180,800', '94,000', '70,900', '76,450', '198,950', '77,950',
       '314,500', '214,425', '104,400', '335,550', '141,990', '1,550,000',
       '65,000', '63,100', '140,000', '325,000', '80,190', '68,745',
       '139,990', '5,200,000', '1,500,000', '460,247', '110,045',
       '77,400', '46,815', '85,000', '162,900', '245,000', '74,750',
       '70,595', '203,500', '47,190', '222,630', '208,000', '96,250',
       '25,000', '103,800', '48,000', '93,000', '346,300', '3,599,000',
       '1,050,000', '186,350', '205,600', '201,000', '340,000', '101,000',
       '43,000', '305,000', '204,995', '243,600', '113,000', '161,200',
       '310,000', '1,800,000', '517,000', '110,000', '300,000', '100,000',
       '135,000', '62,195', '28,000', '147,500', '250,000', '67,800',
       '211,300', '222,500', '43,995', '152,995', '235,000', '335,000',
       '50,000', '49,000', '98,395', '168,000', '64,500', '46,000',
       '147,000', '193,000', '162,000', '76,700', '35,000', '151,000',
       '83,250', '74,700', '77,600', '181,100', '329,100', '46,610',
       '74,000', '63,995', '2,900,000', '201,500', '332,500', '198,995',
       '72,000', '254,995', '60,695', '64,700', '99,990', '150,800',
       '88,800', '76,350', '202,000', '96,000', '33,000', '75,250',
       '99,000', '149,995', '37,500', '38,500', '71,450', '134,150',
       '171,200', '321,000', '100,500', '195,000', '78,100', '78,450',
       '3,900,000', '2,000,000', '254,500', '27,205'], dtype=object)

In [46]:
df["Price (in USD)"]=df["Price (in USD)"].str.replace(",","")

In [47]:
df["Price (in USD)"]=df["Price (in USD)"].astype(int)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   int32
 5   Torque (lb-ft)           1003 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   int32
dtypes: int32(2), int64(1), object(5)
memory usage: 55.2+ KB

In [49]:
df["0-60 MPH Time (seconds)"].unique()

array(['4', '2.8', '3', '3.2', '2.7', '3.1', '3.8', '3.5', '2.5', '2.4',
       '5.4', '4.4', '4.8', '4.7', '3.6', '4.1', '1.85', '4.5', '3.3',
       '3.9', '4.2', '3.4', '5.1', '4.3', '2.9', '5', '5.3', '4.9', '6.5',
       '3.7', '1.95', '1.9', '1.98', '2.6', '2.3', '4.6', '< 1.9', '1.8',
       '2.1', '5.2', '2.2', '6.4', '2'], dtype=object)

In [50]:
df["0-60 MPH Time (seconds)"]=df["0-60 MPH Time (seconds)"].str.replace("<","")

In [51]:
df["0-60 MPH Time (seconds)"]= df["0-60 MPH Time (seconds)"].astype(float)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   int32
 5   Torque (lb-ft)           1003 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   float64
 7   Price (in USD)           1007 non-null   int32
dtypes: float64(1), int32(2), int64(1), object(4)
memory usage: 55.2+ KB

In [53]:
df["Engine Size (L)"].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', 'Electric', '6.5', '3.7', 'Electric Motor',
       '2.5', '1.5 + Electric', '6.8', '8.4', nan, '6.6', '7', '1.7',
       '3.3', '-', '6.7', '1.8', 'Electric (tri-motor)', '5.5',
       'Electric (93 kWh)', 'Electric (100 kWh)', 'Hybrid (4.0)', '4.6',
       '3.6', '1.5', 'Hybrid', '5.7', '2.0 (Electric)', '4.0 (Hybrid)',
       '0', '6.4', '6.3', '2.3'], dtype=object)

In [54]:
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric Motor",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric (tri-motor)",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("1.5 + Electric",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("-",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric (93 kWh)",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric (100 kWh)",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Hybrid (4.0)",4)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("4.0 (Hybrid)",4)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("2.0 (Electric)",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Hybrid",4)

In [55]:
df["Engine Size (L)"].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', 2, '6.5', '3.7', '2.5', '6.8', '8.4', nan,
       '6.6', '7', '1.7', '3.3', '6.7', '1.8', '5.5', 4, '4.6', '3.6',
       '1.5', '5.7', '0', '6.4', '6.3', '2.3'], dtype=object)

In [56]:
df["Engine Size (L)"]=df["Engine Size (L)"].astype(float)

In [57]:
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3.0,379,331,4.0,101200
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390
2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750
3,Audi,R8,2022,5.2,562,406,3.2,142700
4,McLaren,720S,2021,4.0,710,568,2.7,298000

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    float64
 4   Horsepower               1007 non-null   int32
 5   Torque (lb-ft)           1003 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   float64
 7   Price (in USD)           1007 non-null   int32
dtypes: float64(2), int32(2), int64(1), object(3)
memory usage: 55.2+ KB

In [59]:
df.isnull().sum()

Car Make                    0
Car Model                   0
Year                        0
Engine Size (L)            10
Horsepower                  0
Torque (lb-ft)              4
0-60 MPH Time (seconds)     0
Price (in USD)              0
dtype: int64

In [60]:
df=df.dropna()

In [61]:
df["Torque (lb-ft)"]=df["Torque (lb-ft)"].astype(int)

In [62]:
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3.0,379,331,4.0,101200
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390
2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750
3,Audi,R8,2022,5.2,562,406,3.2,142700
4,McLaren,720S,2021,4.0,710,568,2.7,298000

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 994 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 994 non-null    object
 1   Car Model                994 non-null    object
 2   Year                     994 non-null    int64
 3   Engine Size (L)          994 non-null    float64
 4   Horsepower               994 non-null    int32
 5   Torque (lb-ft)           994 non-null    int32
 6   0-60 MPH Time (seconds)  994 non-null    float64
 7   Price (in USD)           994 non-null    int32
dtypes: float64(2), int32(3), int64(1), object(2)
memory usage: 58.2+ KB

In [64]:
df.shape

(994, 8)

In [65]:
df=df.drop_duplicates() # removing duplicate values

In [66]:
df.shape

(702, 8)

#Q1) What is the price of most expensive car and which brand makes it ?

In [67]:
df=df.rename(columns={"Price (in USD)":"Price"})

In [68]:
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
0,Porsche,911,2022,3.0,379,331,4.0,101200
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390
2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750
3,Audi,R8,2022,5.2,562,406,3.2,142700
4,McLaren,720S,2021,4.0,710,568,2.7,298000

In [71]:
df[df['Price'] == df['Price'].max()]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
541,Bugatti,Chiron Super Sport 300+,2022,8.0,1578,1180,2.3,5200000
823,Bugatti,Chiron Super Sport 300+,2021,8.0,1578,1180,2.4,5200000

In [42]:
df1=df.query('Price == Price.max()')
df1.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
541,Bugatti,Chiron Super Sport 300+,2022,8.0,1578,1180,2.3,5200000
823,Bugatti,Chiron Super Sport 300+,2021,8.0,1578,1180,2.4,5200000

In [43]:
# Ans) Buggatti, Price - 5200000$

#2) Which brand gives the lowest power output from engine ?

In [71]:
df.query('Horsepower== Horsepower.min()')

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
92,Mazda,MX-5 Miata,2021,2.0,181,151,6.5,26830

In [45]:
# Ans) 181, Mazda

#3) Is Horsepower dependent on Torque ?

In [73]:
df.corr()

,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
Year,1.000000,-0.162311,0.024114,0.029054,-0.008437,-0.046786
Engine Size (L),-0.162311,1.000000,0.064018,0.002926,-0.211754,0.245226
Horsepower,0.024114,0.064018,1.000000,0.709581,-0.533712,0.490672
Torque (lb-ft),0.029054,0.002926,0.709581,1.000000,-0.444860,0.335040
0-60 MPH Time (seconds),-0.008437,-0.211754,-0.533712,-0.444860,1.000000,-0.495575
Price,-0.046786,0.245226,0.490672,0.335040,-0.495575,1.000000

In [74]:
# 0.7 - correlated

In [72]:
class_A=df["Torque (lb-ft)"].to_list()
class_B=df["Horsepower"].to_list()
print(class_A)
print(class_B)

[331, 443, 561, 406, 568, 553, 494, 465, 625, 481, 516, 1180, 656, 295, 1015, 398, 317, 384, 280, 443, 243, 664, 531, 468, 737, 738, 1696, 309, 531, 590, 590, 531, 479, 468, 650, 550, 276, 479, 626, 561, 369, 465, 420, 627, 280, 531, 369, 443, 479, 516, 455, 420, 276, 505, 317, 331, 627, 560, 369, 457, 553, 505, 443, 406, 455, 707, 550, 295, 531, 384, 516, 270, 331, 354, 406, 465, 568, 420, 627, 280, 476, 505, 664, 1180, 707, 339, 1106, 398, 384, 151, 465, 468, 738, 309, 1696, 605, 737, 368, 723, 280, 531, 354, 465, 479, 664, 650, 550, 270, 664, 443, 642, 627, 590, 406, 309, 509, 664, 664, 590, 468, 443, 650, 656, 560, 604, 627, 479, 505, 309, 507, 568, 369, 455, 420, 276, 331, 627, 561, 369, 465, 406, 516, 476, 513, 664, 600, 339, 317, 384, 443, 738, 309, 605, 440, 368, 479, 708, 280, 531, 590, 590, 468, 455, 276, 774, 568, 354, 443, 553, 479, 254, 509, 663, 590, 457, 516, 650, 707, 550, 270, 332, 1180, 568, 590, 516, 604, 509, 590, 457, 406, 664, 656, 627, 530, 406, 406, 516, 470, 516, 664, 516, 476, 317, 309, 258, 443, 406, 650, 384, 276, 605, 290, 309, 507, 413, 590, 457, 455, 420, 276, 604, 627, 590, 354, 656, 663, 398, 309, 443, 650, 317, 465, 468, 1180, 1015, 531, 1732, 774, 1696, 476, 505, 568, 656, 295, 376, 317, 384, 309, 443, 650, 531, 516, 276, 774, 1050, 664, 568, 1180, 443, 774, 509, 568, 590, 406, 468, 650, 516, 317, 384, 590, 270, 738, 604, 1050, 513, 707, 317, 476, 443, 664, 339, 1015, 384, 465, 516, 280, 605, 455, 516, 568, 656, 1106, 398, 317, 384, 443, 516, 774, 605, 10000, 505, 664, 707, 516, 317, 384, 309, 737, 236, 406, 600, 560, 295, 531, 457, 516, 664, 656, 1015, 384, 516, 738, 309, 642, 568, 656, 339, 398, 443, 1050, 443, 650, 600, 550, 472, 509, 516, 443, 590, 479, 455, 650, 550, 1106, 398, 1254, 465, 590, 309, 531, 560, 354, 457, 516, 455, 420, 276, 1106, 738, 848, 531, 1732, 280, 531, 413, 443, 465, 369, 384, 455, 420, 276, 505, 664, 280, 568, 354, 443, 406, 280, 509, 443, 465, 468, 276, 656, 663, 443, 516, 317, 384, 604, 317, 258, 339, 384, 443, 650, 656, 550, 443, 516, 280, 507, 354, 406, 664, 664, 1180, 656, 516, 1106, 317, 384, 309, 1696, 605, 1050, 420, 1300, 723, 476, 663, 656, 339, 1254, 774, 1696, 1050, 590, 550, 664, 707, 258, 290, 1050, 1180, 590, 774, 650, 590, 309, 531, 507, 590, 516, 276, 354, 650, 626, 664, 560, 1180, 309, 443, 664, 553, 656, 550, 443, 479, 276, 280, 280, 531, 561, 442, 443, 406, 384, 455, 331, 590, 472, 590, 406, 468, 276, 664, 398, 664, 1050, 605, 1180, 590, 641, 498, 664, 1180, 650, 656, 530, 531, 590, 350, 309, 1696, 368, 406, 276, 650, 663, 443, 354, 664, 470, 656, 420, 560, 443, 406, 468, 276, 590, 590, 663, 737, 590, 944, 531, 590, 664, 650, 590, 513, 568, 317, 384, 280, 258, 455, 268, 479, 276, 280, 184, 507, 590, 465, 590, 276, 604, 561, 354, 443, 184, 561, 354, 465, 468, 455, 590, 553, 505, 568, 398, 590, 406, 516, 642, 627, 561, 354, 468, 280, 531, 354, 465, 295, 468, 455, 270, 505, 664, 1180, 656, 295, 317, 642, 531, 664, 650, 276, 309, 516, 505, 443, 656, 664, 443, 443, 406, 479, 420, 400, 505, 258, 295, 1180, 1696, 650, 505, 443, 590, 479, 516, 604, 507, 664, 384, 465, 263, 509, 560, 479, 455, 420, 276, 331, 590, 479, 354, 650, 568, 1180, 568, 465, 707, 339, 398, 1254, 627, 254, 516, 7376, 455, 707, 339, 468, 270, 590, 568, 280, 443, 656, 568, 295, 531, 317, 384, 479, 276, 331, 290, 509, 443, 443, 384, 270, 443, 516, 664, 475, 317, 384, 505, 650, 455, 420, 443, 479, 276, 457, 406, 531, 465, 664, 663, 317, 443, 590, 516, 650, 443, 1050, 420, 505, 1180, 740, 1254, 1696, 538, 280, 465, 406, 468, 350, 270, 1106, 1254, 738, 1696]
[379, 630, 661, 562, 710, 617, 523, 490, 760, 600, 630, 1500, 717, 296, 1280, 471, 416, 454, 300, 505, 320, 626, 671, 622, 720, 600, 1914, 414, 759, 986, 591, 671, 503, 622, 650, 660, 350, 562, 641, 611, 394, 612, 369, 603, 300, 759, 394, 562, 503, 503, 455, 460, 350, 503, 416, 325, 641, 612, 349, 592, 600, 503, 444, 405, 455, 797, 660, 296, 770, 454, 503, 332, 325, 394, 473, 490, 710, 480, 641, 300, 573, 503, 626, 1500, 797, 380, 1600, 471, 454, 181, 620, 622, 764, 414, 1914, 624, 1000, 382, 800, 300, 770, 394, 612, 503, 603, 650, 660, 332, 715, 562, 690, 641, 591, 405, 414, 730, 715, 626, 591, 622, 562, 650, 717, 592, 620, 641, 469, 503, 365, 730, 710, 382, 455, 480, 350, 325, 641, 612, 401, 612, 444, 503, 573, 503, 626, 645, 380, 416, 454, 562, 720, 414, 624, 435, 382, 500, 780, 300, 770, 986, 591, 622, 455, 350, 750, 710, 401, 562, 600, 469, 402, 730, 715, 591, 592, 503, 650, 797, 660, 332, 325, 1500, 710, 591, 575, 620, 729, 591, 592, 405, 603, 717, 641, 789, 562, 473, 577, 495, 630, 626, 575, 573, 416, 414, 237, 444, 405, 717, 454, 350, 624, 310, 414, 729, 591, 591, 592, 455, 480, 350, 620, 641, 986, 394, 717, 715, 471, 414, 444, 650, 416, 612, 622, 1500, 1280, 770, 1914, 791, 1874, 573, 503, 542, 717, 296, 368, 416, 454, 414, 505, 650, 770, 577, 350, 616, 1020, 715, 542, 1479, 562, 750, 730, 710, 591, 444, 622, 650, 575, 416, 454, 755, 332, 730, 620, 1020, 503, 797, 416, 573, 505, 626, 380, 1280, 454, 612, 503, 300, 624, 455, 630, 542, 717, 1280, 471, 416, 454, 562, 503, 791, 624, 1000, 503, 626, 797, 575, 416, 454, 414, 1000, 288, 473, 645, 591, 296, 770, 592, 630, 626, 717, 1280, 454, 503, 764, 414, 624, 542, 717, 380, 471, 562, 1020, 444, 650, 645, 660, 482, 730, 630, 505, 591, 503, 455, 717, 660, 1600, 471, 1973, 612, 720, 414, 770, 591, 394, 592, 503, 455, 480, 350, 1262, 764, 1035, 819, 1914, 300, 770, 591, 444, 620, 382, 385, 455, 460, 350, 503, 626, 300, 710, 394, 562, 473, 300, 730, 444, 612, 622, 350, 717, 715, 505, 575, 416, 454, 630, 416, 237, 380, 454, 444, 650, 717, 647, 562, 503, 300, 729, 394, 473, 715, 626, 1500, 717, 575, 1280, 416, 454, 414, 1914, 624, 1020, 500, 1200, 800, 573, 715, 717, 380, 1973, 616, 1914, 1020, 720, 647, 715, 797, 237, 310, 1020, 1578, 789, 750, 650, 591, 414, 770, 729, 591, 503, 350, 394, 625, 641, 630, 612, 1479, 414, 505, 626, 600, 717, 647, 562, 583, 350, 300, 300, 759, 612, 444, 562, 405, 429, 455, 325, 591, 429, 591, 473, 622, 350, 715, 471, 626, 1020, 563, 1500, 789, 690, 503, 626, 1500, 650, 717, 789, 770, 720, 400, 414, 1914, 382, 405, 350, 707, 715, 505, 394, 626, 495, 717, 460, 612, 562, 473, 622, 350, 591, 577, 715, 764, 789, 887, 759, 591, 650, 650, 720, 503, 542, 416, 454, 300, 237, 455, 305, 469, 350, 300, 369, 729, 591, 620, 730, 350, 630, 591, 394, 562, 369, 612, 394, 620, 622, 455, 640, 617, 503, 710, 471, 591, 473, 577, 690, 641, 612, 394, 622, 300, 759, 394, 612, 255, 622, 455, 332, 503, 626, 1479, 717, 296, 416, 689, 759, 603, 650, 350, 414, 503, 503, 562, 717, 630, 444, 562, 405, 469, 460, 372, 503, 237, 296, 1578, 1914, 650, 503, 505, 591, 503, 503, 630, 730, 715, 385, 490, 469, 730, 611, 469, 455, 480, 350, 325, 591, 503, 382, 650, 542, 1479, 710, 612, 797, 380, 471, 2000, 563, 402, 630, 10000, 455, 797, 380, 622, 332, 591, 542, 300, 444, 717, 710, 296, 759, 416, 454, 469, 350, 325, 310, 729, 444, 562, 429, 332, 505, 630, 626, 485, 416, 454, 503, 717, 455, 460, 562, 469, 350, 473, 473, 770, 612, 630, 715, 416, 562, 591, 503, 717, 505, 1020, 480, 503, 1500, 764, 1973, 1872, 621, 300, 612, 405, 622, 310, 332, 1280, 1972, 764, 1888]

In [47]:
import scipy.stats as stats
corr,p_value=stats.pearsonr(class_A,class_B)
print(corr,p_value)

0.7095810639663238 1.5766891317993526e-108

In [66]:
# The correlation coefficient is 0.70 (Strong Postive Correlation)
# The pvalue < 0.05 (Correlation is statistically significant)
#There is a strong relationship between horsepower and Torque.
# h0 -(Null hypothesis)

In [70]:
df["class_B"].corr(df["class_A"])

KeyError: 'class_B'

Q4) Is the mean price of sports cars that takes time to accelerate from 2 to 4 seconds
is the same as that for those cars that accelerates for 4 to 6 seconds ?

In [49]:
car2_4=df[(df["0-60 MPH Time (seconds)"]>=2) & (df["0-60 MPH Time (seconds)"]<=4)]
car2_4.shape

(512, 8)

In [50]:
car4_6=df[(df["0-60 MPH Time (seconds)"]>=4) & (df["0-60 MPH Time (seconds)"]<=6)]
car4_6.shape

(191, 8)

In [51]:
sample2_4=car2_4.sample(25,random_state=0) 
sample4_6=car4_6.sample(25,random_state=0)

In [52]:
# null hypothesis - variances are equal for both the samples
# Alternate hypothesis - variances are not equal

In [53]:
#sample variance

In [54]:
print(sample2_4.Price.var())

18352867907.273335

In [55]:
print(sample4_6.Price.var())

5289443343.75

In [56]:
# Computing the f statistic 
from scipy.stats import f
F= sample4_6.Price.var()/sample2_4.Price.var()
print(F)

0.2882079994513428

In [57]:
# degree of freedom

In [58]:
df1=len(sample2_4)-1
df2=len(sample4_6)-1

In [59]:
import scipy

In [60]:
scipy.stats.f.cdf(F,df1,df2)

0.0017105267283771845

In [61]:
# p value is less than 0.05 reject null hypothesis
# the variance of price of sports cars who takes time to accelerate from 2 to 4 seconds
# is not the same as that for those cars for who accelerate for 4 to 6 seconds

In [62]:
# we have to apply t test for unequal variances

In [64]:
from scipy.stats import ttest_ind
t_stats,p_value=ttest_ind(sample2_4.Price,sample4_6.Price,equal_var=True)
print(t_stats,p_value)

2.1491284236992008 0.03669540911160308

In [65]:
from scipy.stats import ttest_ind
t_stats,p_value=ttest_ind(sample2_4.Price,sample4_6.Price,equal_var=False)
print(t_stats,p_value)

2.1491284236992008 0.038275630486490235

In [71]:
# Rejecting null hypothesis since p value is 0.001 which is less than 0.05
# Mean price of sports cars who takes time to accelerate from 2 to 4 seconds
# is not the same as that for those cars for who accelerate for 4 to 6 seconds

5) Given that the standard deviation of the populations is known. Perform the best suitable test for previous problem statement

In [76]:
import random
from statsmodels.stats.weightstats import ztest
car2_4=df[(df["0-60 MPH Time (seconds)"]>=2) & (df["0-60 MPH Time (seconds)"]<=4)]
car4_6=df[(df["0-60 MPH Time (seconds)"]>=4) & (df["0-60 MPH Time (seconds)"]<=6)]
car2_4=car2_4["Price"].to_list()
car4_6=car4_6["Price"].to_list()
a=random.sample(car2_4,100)
b=random.sample(car4_6,100)
z_test,p_value=ztest(car2_4,car4_6)
p_value

9.376528732023247e-09

In [ ]:
# p - value is less than 0.05 reject null hypothesis. mean price are not equal